.legal
  font-size: .7em
  text-align: center

  a
    padding-right: 32px
    text-decoration: none
    color: #25d2b1

    +below(400px)
      padding-right: 12px

.thankyou
  text-align: center

  p
    text-align: center

  strong
    font-weight: 700

  ul.social
    width: 300px
    margin: 8px auto
    display: table

    li
      column 1/3 3 20px
      list-style: none
      text-align: center
      font-size: 3rem

  .share-field
    text-align: centered

    .ref-link
    .copied
      display: block
      width: 100%
      text-align: center

    +below(600px)
      font-size: .5em


