.accordion
  .accordion-toggle
    cursor: pointer

    i
      position: absolute
      transform: translate(-6px , 0)
      margin-top: 16px
      right: 0

      &:before , &:after
        content: ""
        transition: all 0.25s ease-in-out
        position: absolute
        background-color: #55CDAA
        width: 3px
        height: 9px

      &:before
        transform: translate( -2px , 0 ) rotate( 45deg )

      &:after
        transform: translate( 2px , 0 ) rotate( -45deg )

  .accordion-content
    transition: all 0.25s ease-in-out
    position: relative
    overflow: hidden
    opacity: 1
    transform: translate(0 , 0)

  input[type=checkbox]
    display: none

    &:checked
      &~.accordion-content
        margin-top: 0
        max-height: 0
        opacity: 0
        transform: translate( 0 , 50% )

      &~.accordion-toggle i
        &:before
          transform: translate( 2px , 0 ) rotate( 45deg )

        &:after
          transform: translate( -2px , 0 ) rotate( -45deg )
