@import "reeeset/src/reeeset.css"

h1
  font-size: 2em
  color: white

section
  center: 980px
  background: tomato
  padding: 10px

figure
  column: 1/3
  background: darken(tomato, 10%)
  height: 100px
  text-align: center
  line-height: 100px
  color: white

  +below(700px)
    column: 1
