@import "reeeset/src/reeeset.css"

@require "framework"
@require "loader"
@require "header"
@require "hero"
@require "hero-video"
@require "hero-parallax"
@require "parallax"
@require "footer"
@require "list"
@require "lazyify"
@require "fonts"

@require "stonedaudio"

// h1
//   font-size: 2em
//   color: white

// section
//   clearfix()
//   center(980px)
//   background: tomato
//   padding: 10px

// figure
//   column(1/3)
//   background: darken(tomato, 10%)
//   height: 100px
//   text-align: center
//   line-height: 100px
//   color: white

//   +below(700px)
//     column(1)
