@require 'reeeset/src/reeeset.css'

@require 'settings'
@require 'animations'

@require 'framework'
@require 'loader'
@require 'header'
@require 'hero'
@require 'hero-video'
@require 'hero-parallax'
@require 'gallery'
@require 'parallax'
@require 'footer'
@require 'list'
@require 'progress'
@require 'lazyify'
@require 'fonts'
@require 'form'
@require 'accordion'
@require 'menu'
@require 'referral'
@require 'cart'

// @require '../../node_modules/flipclock/compiled/flipclock.css'
// @require 'clock'

@require 'stonedaudio'

@require 'page'
@require 'page-404'
@require 'page-about'
@require 'page-account'
@require 'page-card'
@require 'page-contact'
@require 'page-checkout'
@require 'page-faq'
@require 'page-index'
@require 'page-press'
@require 'page-privacy'
@require 'page-referral'
@require 'page-returns'
@require 'page-reviews'
@require 'page-store'
@require 'page-signup-reset-password'
@require 'page-tech'
@require 'page-terms'

@require 'checkout/modal'
@require 'checkout/cart'
@require 'checkout/checkout'
@require 'checkout/checkout-widget'
@require 'checkout/misc'

// // Shared variables
// $gutter = 16px

// // Configure lost
// lost(gutter: $gutter)

// h1
//   font-size: 2em
//   color: white

// section
//   clearfix()
//   center(980px)
//   background: tomato
//   padding: $gutter
//   padding-bottom: 0px
//   margin-bottom: $gutter

// figure
//   column(1/3, 3)
//   margin-bottom: $gutter
//   background: darken(tomato, 10%)
//   height: 100px
//   text-align: center
//   line-height: 100px
//   color: white

//   +below(700px)
//     column(1)
//     row(1/3)
