.clock
  display: table
  margin-left: auto
  margin-right: auto
  width: auto
  transform: scale(.8, .8);
  margin-top: -25px

  .inn
  .flip-clock-dot
    background-color: #000 !important
    font-family 'Lato'

  .flip-clock-label
    text-shadow: 0 1px 1px rgba(111,111,111,0.2)
    transform: scale(1.6, 1.6);
    font-size: 1em;
    letter-spacing: 0.2em;
    margin-bottom: 10px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;

  +below(600px)

    .minutes
      clear: left
      width: 0
      margin-top: 30px

      .flip-clock-dot
        display: none

      & ~ .flip
        margin-top: 30px

    .seconds
      margin-top: 30px
