.clock
  display: table
  margin-left: auto
  margin-right: auto
  width: auto
  transform: scale(.8, .8);

  .inn
  .flip-clock-dot
    background-color: #000 !important
    font-family 'Lato'

  .flip-clock-label
    transform: scale(1.6, 1.6);
    font-size: 1em;
    letter-spacing: 0.2em;
    margin-bottom: 10px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
