.manual
  .left
    float: left
    width: 50%

  .right
    float: right
    width: 50%

  h2.manual a
    display: block
    position: relative
    margin-top: 116px
    box-sizing: border-box

  img.manual
    width: 242px
    float:right
    padding: 32px
