.manual.content
  .col
    height: 231px
    column(1/2)

    h2 a
      padding-bottom: 8px
      display: table-cell
      height: 231px
      vertical-align: middle

      font-size: .9em

      +below(525px)
        font-size: .8em

      +below(450px)
        font-size: .7em

    .row
      float: right
      height: 100%

    .cell
      width: 100%
      padding-bottom: 8px
      display: table-cell
      height: 231px
      vertical-align: middle
      text-align: right

      img
        width: 200px
        padding: 16px
        vertical-align: middle
