h1, h2, h3
  font-family: 'Lato', sans-serif
  letter-spacing: .15rem

h1
  font-size: 2.75rem
  font-weight: 900

h2
  font-size: 1rem
  font-weight: 900

h3
  font-size: .8rem

body
  font-family: 'Helvetica', 'Arial', sans-serif
  font-weight: 100
