footer
  display table
  .logo
    bottom 50px
  .copyright
    margin-top 80px
    margin-bottom 20px
    display inline-block
  nav
    display table
    margin auto
    padding 10px
    ul
      list-style-type none
      overflow hidden
      padding 0
      margin 0
      float left
      li
        float left
        padding 20px 20px


