form
  display: table
  width: 100%

  input
    &:-moz-placeholder
      color: $genericInputPlaceholderColor

    &::-moz-placeholder
      color: $genericInputPlaceholderColor

    &:-ms-input-placeholder
      color: $genericInputPlaceholderColor

    &::-webkit-input-placeholder
      color: $genericInputPlaceholderColor

input[type=text]
    -webkit-appearance: none
    -moz-appearance: none
    &::-webkit-input-placeholder
      line-height: 1.3em

input
  padding: 0 15px
  border: 4px solid $genericInputBorderColor

input
button
.button
  height: 60px
  border-radius: 30px
  font-size: $genericInputFontSize
  background-color: transparent
  color: $genericInputTextColor
  outline: 0

button
.button
  font-weight: bold

.page
.checkout.checkout
body > cart
  input
  select
  button
  .button
  select > input[type="button"]
  textarea
    line-height: 1em !important
    vertical-align: middle

  input
  select
  select > input[type="button"]
  textarea
    -moz-appearance: none !important
    color: $formInputTextColor !important

  input
  select
  button
  .button
  select > input[type="button"]
  textarea
  .selectize-input
    border: 2px solid $formInputBorderColor1

    &:focus
      outline-width: 0

  input[type=text]
  input[type=password]
  button
  .button
  textarea
    height: $genericInputHeight
    line-height: 1em
    font-size: $genericInputFontSize

  input[type=text]
  input[type=password]
    -moz-appearance: none !important
    line-height: 1em !important
    vertical-align: middle
    color: $formInputTextColor !important

    padding: 0
    border-radius: 0
    border-width: 0 !important
    border-bottom: 2px solid $formInputBorderColor2 !important
    transition: color 420ms ease-in, border-color 420ms ease-in

  input[type=text]
  input[type=password]
  textarea
    width: 100%
    color: $formInputTextColor
    padding: 0
    border-radius: 0
    border-width: 0
    transition: color 420ms ease-in, border-color 420ms ease-in

    &.invalid
      color: $color101 !important
      border-color: $red1 !important

    // &.valid
    //   // color: #3DF2B6 !important
    //   border-color: #3DF2B6 !important

    &:-moz-placeholder
      color: $formInputPlaceholderColor

    &::-moz-placeholder
      color: $formInputPlaceholderColor

    &:-ms-input-placeholder
      color: $formInputPlaceholderColor

    &::-webkit-input-placeholder
      color: $formInputPlaceholderColor

  textarea
    height: 96px
    padding: .5em

  button
  .button
    color: $buttonTextColor !important

  button[type=submit]
  .button.submit
    width: 100%
    font-size: $genericInputFontSize !important
    padding: 22px
    line-height: 0px !important
    letter-spacing: .05rem
    margin: 16px 0
    background: radial-gradient(at top left, $buttonGradientColor1, $buttonGradientColor2)
    background-color: $color2
    border: 0
    text-transform: uppercase
    text-align: center

    &:hover
      animation: ripple-green 1.5s infinite

  .error
  .promo-message
    color: $color101
    font-size: 14px
    padding: 8px 0
    line-height: 1em
    text-align: left
    width: 100%

  .input
    padding-bottom: 16px
    line-height: 2em
    width: 100%
    display: table
    position: relative

  .share-field
    border: 0
    background-color: $shareFieldBGColor
    font-family: Courier New
    font-weight: bold
    padding: 1em
    display: table
    width: 100%
    height: $genericInputHeight
    font-size: $genericInputFontSize
    outline: 0
    margin: 16px 0
    text-align: left

    .ref-link
      opacity: 0
      transition: opacity 420ms ease-in-out
      text-align: left

    .copied
      float: right
      opacity: 0
      transition: opacity 420ms ease-in-out
      color: $color101

  // .selectize-input.focus
  // input:focus
  //   border-color: #3DF2B6

// Selectize
.selectize-input
  background-color: transparent !important
  font-weight: bold !important
  color: $formInputTextColor !important
  font-size: 1rem !important
  line-height: 1rem !important
  padding: 8px 0 !important
  box-shadow: none !important
  border: 0 !important
  border-bottom: 2px solid $formInputBorderColor2 !important
  max-width: 100%
  border-radius: 0 !important
  height: $genericInputHeight !important

  &:after
    border-color: $formInputBorderColor2 transparent transparent !important
    top: 12px
    right: 8px
    margin-top: 0px

  &.dropdown-active
    &:before
      display: none

    &:after
      border-color: transparent transparent $formInputBorderColor2 !important

  &.full
    min-height: 0 !important

  input
    position: absolute !important
    width: 100% !important
    margin-top: -6px !important
    left: 0
    height: $genericInputHeight !important
    top: 1px !important

  .item
    position: absolute !important
    font-size: $genericInputFontSize
    font-weight: 400

.selectize-dropdown.single
  border-radius: 0 !important
  z-index: 100001

  .selectize-dropdown-content
    font-weight: 400 !important
    color: $formInputTextColor !important
    font-size: 1rem !important
    line-height: 1rem !important

  .option.active
    background-color: $color2 !important
    color: $formSelectOptionHighlightColor !important

.selectize-control
  height: $genericInputHeight


