body
  & > menu
    width: 300px
    position: fixed
    top: 0
    left: -300px !important
    z-index: 1000
    transition: background-color 420ms ease-in-out, left 420ms ease-in-out

    li
    menuitem
      // text-align: center
      margin: 0 0 20px 0
      list-style-type: none
      cursor: pointer

      // transition: all 420ms ease-in-out

      &:hover
        color: $menuHoverColor
        // color: #25d2b1

      &.active
        font-weight: bold
        // color: #3df2b6

      & > *
        cursor: pointer

        &:hover
          color: $menuHoverColor
          // color: #25d2b1

        &.active
          font-weight: bold
          // color: #3df2b6

  & >
    & main
    & footer
      left: 0

  input#open-menu
    display: none

    &:checked
      & ~ menu
        left: 0 !important

      & ~ *:not(menu)
        left: 300px

