#page-account
  .body
    .content
      padding: 0
      margin: 80px auto
      background-color: #FFF

      +below(600px)
        margin: 0 auto

      .tab-radio
        display: none

        &#referrals-tab ~ .page .referrals
        &#profile-tab ~ .page .profile
        &#orders-tab ~ .page .orders
          opacity: 0
          position: absolute
          top: 0
          left: 0
          transition opacity 420ms ease-in
          width: 100%
          pointer-events: none
          display: table
          margin-top: 40px

        &#referrals-tab:checked ~ .page .referrals
        &#profile-tab:checked ~ .page .profile
        &#orders-tab:checked ~ .page .orders
          opacity: 1
          position: relative
          pointer-events: auto

        &#referrals-tab:checked ~ .menu .referrals-tab
        &#profile-tab:checked ~ .menu .profile-tab
        &#orders-tab:checked ~ .menu .orders-tab
          border-bottom: 4px solid #3CF3B6

      h2
        font-size: 1em

      ul.menu
        background-color: #F8F8F8
        width: 100vw
        padding: 0
        display: table
        max-width: 900px

        +below(600px)
          font-size:.8em

        li
          list-style-type: none
          padding: 0 2em
          max-width: 80px
          vertical-align: middle
          float: left
          display: table

          &:nth-child(4)
            max-width: 100%

          &:last-child
            text-align: right
            float: right

          label
            margin: 0
            display: table
            padding: 12px 0

            h2
              position:relative
              top: 4px

          & > *
            cursor: pointer

            &:hover
              font-weight: bold

      .page
        min-height: 300px
        max-width: 550px
        position: relative
        overflow: hidden
        padding: 0 0 80px
        margin: 0 auto

        & > *
          +below(600px)
            padding: 0 20px
            max-width: 100vw

        .profile
          & > div
            column 1/2 2 60px

            +below(600px)
              width: 100%
              padding-bottom: 20px

            p
              padding-bottom: 10px

          .button-container
            width: 100% !important
            text-align: center

          user-email
          user-name
          user-current-password
          user-password
          user-password-confirm
            display: block
            padding-bottom: 16px
            line-height: 2em
            width: 100%

        p
          margin-bottom: 0

        .share-field
          text-align: centered

          .copied
            display: block

          +below(600px)
            font-size: .8em

            .ref-link
            .copied
              display: block
              width: 100%
              text-align: center

        ul.share-links
          display: table
          padding: 0
          width: 300px
          margin: 0 auto
          margin-bottom: 20px

          li
            list-style-type: none
            column: 1/3 3 0
            text-align: center
            font-size: 2em
            i
              color: #000

        .points-counter
          margin-top: 20px
          text-align: center

        .points-tracker
          padding: 0
          width: 100%
          display: table
          position: relative
          overflow: hidden
          border-radius: 90px

          &:before
            content: ''
            width: 0%
            height: 100%
            position: absolute
            top: 0
            left: 0
            transition: width 420ms ease-in-out
            background: radial-gradient(at top left, rgba(0,212,255,0.5), rgba(0,212,255,0))
            background-color: #11f1b6
            border-top-left-radius: 50px
            border-bottom-left-radius: 50px

          li
            column 1/5 5 0
            list-style-type: none
            text-align: center
            padding: 20px 30px
            height: 90px
            border: 2px solid #000
            position: relative

            &:first-child
              border-top-left-radius: 45px
              border-bottom-left-radius: 45px

              h3
                left: 6px

            &:not(:first-child)
              border-left: 0

            &:not(:last-child)
              h3
                font-size: 1em
                margin-bottom: 0.5em
                position: relative
                top: 3px

              // &:after
              //   content: ''
              //   height: 46px
              //   width: 46px
              //   position: absolute
              //   border-top: 2px solid #000
              //   border-right: 2px solid #000
              //   top: 20px
              //   right: -23px
              //   -webkit-transform: rotate(45deg) skew(30deg, 30deg)
              //   transform: rotate(45deg) skew(20deg, 20deg)
              //   z-index: 100
              //   background-color: #eee

            &:last-child
              border-top-right-radius: 45px
              border-bottom-right-radius: 45px
              position: relative
              left: -2px

              h3
                font-size: 1.2em
                left: -6px

            p
              font-size: .8em
              text-align: center
              display: none

          +below(900px)
            width: 100%

            li
              width: 100%
              column 1 1 0
              border: 2px solid #000
              border-right: 2px solid #000 !important
              border-left: 2px solid #000 !important
              height: 120px

              &:after
                display: none

              &:not(:last-child)
                border-bottom: 0

        .points-tracker-description
          padding: 10px 10px 10px 20px
          display: table
          width: 100%

          li
            column 1/5 5 10px
            list-style-type: none
            position: relative

            p
              text-align: center
              font-weight: bold
              font-size: .8em

        orders
          order
            display: table
            width: 100%
            padding: 7px 0 20px 0

            &:not(:last-child)
              border-bottom: 2px solid black
              margin-bottom: 20px

            .order-information
            .address-information
              column 1/2 2 60px

              +below(900px)
                width: 100%

            .order-information
              & > div
                display: table
                width: 100%

                & > *:first-child
                  column 2/5 2 20px

                & > *:last-child
                  column 3/5 2 20px

              lineitems
                display: table
                padding: 20px 0
                width: 100%

                lineitem
                  & > *
                    column 1/8 3 0px
                  & > *:last-child
                    column 3/8 3 0px
                  & > *:first-child
                    column 1/2 3 0px

                  .product-price-container
                    text-align: right

                  .x
                    font-size: .5em !important

              .currency-container
                & > *:last-child
                  text-align: right

              .label.product-currency
                display: inline

            .map
              width: 100%
              height: 200px
              margin 10px 0 20px
