#page-account
  .body
    .content
      ul.menu
        column 1/5 2 60px

        li
          list-style-type: none
          margin-bottom: 1em

      .page
        column 4/5 2 60px

        profile
          & > form > div
            column 1/2 2 60px

          .button-container
            width: 100% !important
            text-align: center

          user-email
          user-name
          user-current-password
          user-password
          user-password-confirm
            display: block
            padding-bottom: 16px
            line-height: 2em
            width: 100%

          input
            height: 32px
            line-height: 1em
            font-size: 16px
            width: 100%

            -moz-appearance: none !important
            line-height: 1em !important
            vertical-align: middle
            color: #000 !important

            padding: 0
            border-radius: 0
            border-width: 0 !important
            border-bottom: 2px solid #000 !important
            transition: color 420ms ease-in, border-color 420ms ease-in

            &.invalid
              color: #F22469 !important
              border-color: #F22469 !important

            // &.valid
            //   // color: #3DF2B6 !important
            //   border-color: #3DF2B6 !important

            &:-moz-placeholder
              color: #333

            &::-moz-placeholder
              color: #333

            &:-ms-input-placeholder
              color: #333

            &::-webkit-input-placeholder
              color: #333

            &:focus
              outline-width: 0

          .error
            color: #F22469
            font-size: 14px
            padding: 8px 0
            line-height: 1em
            text-align: left
            width: 100%


          button[type=submit]
            height: 32px
            line-height: 1em
            font-size: 16px
            width: 100%
            margin: 0 auto
            font-size: 16px !important
            padding: 22px
            line-height: 0px !important
            letter-spacing: .05rem
            margin: 16px 0
            background: radial-gradient(at top left, rgba(0,212,255,0.5), rgba(0,212,255,0))
            background-color: #3df2b6
            border: 0
            text-transform: uppercase

            &:hover
              animation: ripple-green 1.5s infinite

        p
          margin-bottom: 0

        .share-field
          height: 32px
          font-size: 16px
          padding: 0 15px
          border-radius: 22px
          background-color: transparent
          border: 4px solid #000
          outline: 0
          margin: 16px 0

          .ref-link
            opacity: 0
            transition: opacity 420ms ease-in-out

          .copied
            float: right
            opacity: 0
            transition: opacity 420ms ease-in-out
            color: #F22469

    +below(900px)
      .content
        ul.menu
          column 1/3 2 60px

          li
            list-style-type: none
            margin-bottom: 1em

        .page
          column 2/3 2 60px

