#index-hero.hero.parallax
  background: linear-gradient(-180deg, rgba(255,255,255,0.17) 0%, rgba(0,0,0,0.17) 100%)
  background-color: #47ECB9

  .content
    margin-top: 80vh

  .foreground .animated
    margin-top: 10vh
    height: 80vh
    width: auto

    +below(600px)
      height: auto
      width: 100%

#earphones
  background: radial-gradient(52% 142%, #595959 50%, #393939 100%)
  height: inherit !important
  padding-bottom: 32px

  h2
    top: 64px
    transform: translateY(-50%)
    position: absolute
    width: 100%
    font-weight: 400
    color: $genericTextColor
    letter-spacing: .5em

  .image
    background-image: url(img/charging-case2.png)
    background-position: center
    background-size: contain
    background-repeat: no-repeat

  .info
    padding-top: 25vh

    & > *
      text-align: left

  .discover-stoned
    background: transparent
    border: 4px solid #fff
    margin-left: 16px
    h3
      margin-top: 3px
      font-size: .9em
      letter-spacing: 0.1em

  +below(800px)
    .info > *
      text-align: center
    .image
      display: block
      min-height: 400px
      max-height: 400px
      margin-bottom: -20vh
      margin-top: 10vh

  +below(400px)
    .info
      padding-top: 15vh

#shirts
  .shirt
    column 1/2 2 0

    .text
      height: 25vh
      width: 100%
      padding: 40px 80px
      text-align: left
      display: table

      *
        text-align: left

    .image
      height: 50vh
      width: 100%
      padding: 40px
      min-height: 400px

      .bounded-image
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        width: 100%
        height: 100%

    &:first-child
      color: #000
      background-color: #FFF

    &:last-child
      color: #FFF
      background-color: #000

      .selectize-input.selectize-input.selectize-input
        border-color: #FFF !important

        .item
          color: #FFF

    +below(800px)
      width: 100%

#app
  background-position: 50% 0%
  height: 130vh
  z-index: 1

  .content
    margin-top: 75vh
    padding: 20px 0
    max-width: 650px

    p
      font-size: 1.25em
      padding: 0 20px

    ul
      width: 300px
      margin: 16px auto
      display: table

      li
        column 1/2 2 20px
        list-style: none
        text-align: center
      p
        font-size: .9em
        letter-spacing: 0.05em

