#nowires
  h1
    color: rgba(0,0,0,.9)

  h2
    top: 13vh
    transform: translateY(-50%)
    position: absolute
    width: 100%
    font-weight: 400
    color: rgba(51,51,51,.9)

  .content
    margin-top: 33vh
    transform: translateY(-50%)
    color: rgba(51,51,51,.9)
    max-width: 650px
    font-size: 1.25em
    line-height: 1.6em

  +below(400px)
    h2
      display: none

    .content
      margin-top: 40vh

#comfy
#ditch
#rocking
  .info
    padding-top: 25vh

    & > *
      text-align: left

  +below(800px)
    .info > *
      text-align: center

  +below(400px)
    .info
      padding-top: 15vh

#comfy
  +below(800px)
    background-position-x: 0%

#ditch
  +below(800px)
    background-position-x: 90%

#chargeup
  background: -webkit-linear-gradient(225deg, rgb(217, 217, 217) 0%, rgb(238, 238, 238) 100%)
  background: -o-linear-gradient(225deg, rgb(217, 217, 217) 0%, rgb(238, 238, 238) 100%)
  background: -ms-linear-gradient(225deg, rgb(217, 217, 217) 0%, rgb(238, 238, 238) 100%)
  background: -moz-linear-gradient(225deg, rgb(217, 217, 217) 0%, rgb(238, 238, 238) 100%)
  background: linear-gradient(225deg, rgb(217, 217, 217) 0%, rgb(238, 238, 238) 100%)
  height: auto !important

  .content
    display: table
    padding: 20px 0
    max-width: 650px

    .info
      padding: 0 0
      position: relative

    h1
      color: rgba(0,0,0,.9)

    .info
      top: 0
      color: rgba(51,51,51,.9)

      h1
      p
        padding-left: 20px
        padding-right: 20px

    ul
      width: 66%
      margin: 0 16.5%
      position: absolute
      bottom: 0

      li
        color rgba(0,0,0,.9)
        column 1/4 4 20px

        div
          border-color rgba(0,0,0,.9)

  +below(800px)
    .content

      .info
        padding-bottom: 200px

      ul
        padding: 0 20px

        li
          column 1/2 2 20px

  +below(600px)
    .content
      p
        font-size: 1em

      ul
        width: 100%
        margin: 0

#rocking
  ul
    margin-left: -20px
    margin-right: -20px

    li
      column 1/4 4 20px
      // minify tax
      +between(800px, 836px)
        column 1/4 4 10px

      +below(800px)
        column 1/2 2 20px

        // minify tax
        &:nth-child(2n)
          margin-right: 0 !important

      // minify tax
      &:nth-child(4n)
        margin-right: 0 !important

  .info.info.info
    +below(800px)
      // padding-top: 30vh
      padding-top: 20vh

    // +below(400px)
    //   padding-top: 40vh

#lovethem
  background-position: 50% 0%
  height: 130vh
  z-index: 1

  .content
    margin-top: 75vh
    padding: 20px 0
    max-width: 650px

    p
      font-size: 1.25em
      padding: 0 20px

    ul
      width: 300px
      margin: 16px auto
      display: table

      li
        column 1/2 2 20px
        list-style: none
        text-align: center
      p
        font-size: .9em
        letter-spacing: 0.05em

#othersrock
  background-position: 50% 0%
  // for ff overflow
  z-index: 1

  h1
    position: absolute
    top: 50%
    transform: translateY(-50%)
    width: 100%

#getstoned
  overflow: hidden
  color: rgba(0,0,0,.8)

  .content
    margin-top: 50vh
    padding: 0
    transform: translateY(-50%)
    text-align: center

    p
      font-size: 1em
      letter-spacing: .05em

    h1
      letter-spacing: .01em
      margin-bottom: 50px

      img
        height: 34px
        position: relative
        top: 2px
        // left: 20px
        // margin-right: 20px

  +below(800px)
    .foreground
      background-size: contain
      background-repeat: no-repeat

  +below(400px)
    .content
      margin-top: 60vh

      h1
        img
          height: 20px

#refer
  background: radial-gradient(at top left, $buttonBGGradientColor1, $buttonBGGradientColor2)
  background-color: $color2

  .content
    margin-top: 150px
    max-width: 800px
    margin-top: 50px
    margin-bottom: 50px
    text-align: center

    .claim-link-button
      border: 4px solid $genericInputBorderColor
      border-radius: 28px
      margin: 20px 0
      font-size: 1em !important
      font-weight: bold
      font-family: 'Lato', sans-serif
      letter-spacing: .1em
      transition: color 420ms ease-in-out

      +below(600px)
        padding: 12px 24px 12px 24px
        height: 40px
        line-height: .7em

#share
  background-color: $formBGColor
  color: rgba(0,0,0,.9)

  .content
    margin-top: 50px
    margin-bottom: 20px
    padding: 20px 0

    p
      font-size: 1.3em
      padding: 0 20px

      img
        padding-left: 6px
        padding-right: 0px
        height: 17px
        top: 2px
        position: relative

      a
        color: $color1

    .ambassador
      font-size: 1em !important

    i.fa
      font-size: 3em
      color: rgba(0,0,0,.9)

    ul
      width: 300px
      margin: 32px auto
      display: table

      li
        column 1/3 3 0
        list-style: none
        text-align: center

