#page-account
  .body
    .content
      max-width: 600px

      profile
        & > form > div
          column 1/2 2 60px

        user-email
        user-name
        user-current-password
        user-password
        user-password-confirm
          display: block
          padding-bottom: 16px
          line-height: 2em
          width: 100%

        input
        button
          height: 32px
          line-height: 1em
          font-size: 16px
          width: 100%

          -moz-appearance: none !important
          line-height: 1em !important
          vertical-align: middle
          color: #000 !important

          padding: 0
          border-radius: 0
          border-width: 0 !important
          border-bottom: 2px solid #000 !important
          transition: color 420ms ease-in, border-color 420ms ease-in

          &.invalid
            color: #F22469 !important
            border-color: #F22469 !important

          // &.valid
          //   // color: #3DF2B6 !important
          //   border-color: #3DF2B6 !important

          &:-moz-placeholder
            color: #333

          &::-moz-placeholder
            color: #333

          &:-ms-input-placeholder
            color: #333

          &::-webkit-input-placeholder
            color: #333

          &:focus
            outline-width: 0

        .error
          color: #F22469
          font-size: 14px
          padding: 8px 0
          line-height: 1em
          text-align: left
          width: 100%

      p
        margin-bottom: 0

      .share-field
        height: 32px
        font-size: 16px
        padding: 0 15px
        border-radius: 22px
        background-color: transparent
        border: 4px solid #000
        outline: 0
        margin: 16px 0

        .ref-link
          opacity: 0
          transition: opacity 420ms ease-in-out

        .copied
          float: right
          opacity: 0
          transition: opacity 420ms ease-in-out
          color: #F22469


