.page
  .hero
    &.short
      height: 300px
      min-height: 300px
      max-height: 300px
      color: #FFF

      .content
        margin-top: 170px

    &.shorter
      height: 200px
      min-height: 200px
      max-height: 200px
      color: #FFF

      .content
        margin-top: 130px

    &.header-background
      height: 120px
      min-height: 120px
      max-height: 120px

      .content
        margin-top: 40px
        transform: none

  .progress
    margin-top: 0
    margin-bottom: 0

  .body
    background: radial-gradient(at top left, rgba(204, 204, 204,.50), rgba(204,204,204,0))
    background-color: #EEE
    color: rgba(0,0,0,.8)

    h2
    p
      text-align: left

    h2
      letter-spacing: initial
      margin: .5em 0

    p
    ul
      font-size: 0.9em
      line-height: 2em

    ul
      padding: 0 20px
      margin: 0

    .content
      display: table
