#page-privacy
  .privacy
    background: radial-gradient(at top left, rgba(204, 204, 204,.50), rgba(204,204,204,0))
    background-color: #EEE
    color: rgba(0,0,0,.8)

    h2
    p
      text-align: left
