#index-hero.hero.parallax
  background: linear-gradient(-180deg, rgba(255,255,255,0.17) 0%, rgba(0,0,0,0.17) 100%)
  background-color: #47ECB9

  .content
    margin-top: 80vh

  .foreground .animated
    margin-top: 10vh
    height: 75vh
    width: auto

    +below(800px)
      margin-top: 15vh
      height: auto
      width: 100%

#index-press-strip.press-strip
  background-color: rgba(85, 182, 153, 0.53)

#earphones
  background: radial-gradient(52% 142%, #595959 50%, #393939 100%)
  height: inherit !important
  padding-bottom: 32px

  h2
    top: 64px
    transform: translateY(-50%)
    position: absolute
    width: 100%
    font-weight: 400
    color: $genericTextColor
    letter-spacing: .5em

  .image
    background-image: url(img/charging-case2.png)
    background-position: center
    background-size: contain
    background-repeat: no-repeat

  .info
    padding-top: 25vh

    & > *
      text-align: left

  .discover-stoned
    background: transparent
    border: 4px solid #fff
    margin-left: 16px

    h3
      line-height: 2.3em
      font-size: .9em
      letter-spacing: .1em
      color: $buttonTextColor
      margin-top: -4px

      +below(500px)
        line-height: 1em

  +below(500px)
    .button
      width: 100%
      margin-bottom: 16px
      margin-left: 0

  +below(800px)
    .info > *
      text-align: center
    .image
      display: block
      min-height: 400px
      max-height: 400px
      margin-bottom: -20vh
      margin-top: 10vh

  +below(400px)
    .info
      padding-top: 15vh

#shirts
  .shirt
    column 1/2 2 0

    .text
      height: 25vh
      width: 100%
      padding: 40px 80px
      text-align: left
      display: table

      *
        text-align: left

    .image
      height: 50vh
      width: 100%
      padding: 40px
      min-height: 400px

      .bounded-image
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        width: 100%
        height: 100%

    &:first-child
      color: #000
      background-color: #FFF

    &:last-child
      color: #FFF
      background-color: #000

      .selectize-input.selectize-input.selectize-input
        border-color: #FFF !important

        .item
          color: #FFF

    +below(800px)
      width: 100%

#app
  background-position: 50% 0%
  height: 130vh
  z-index: 1

  .content
    margin-top: 75vh
    padding: 20px 0
    max-width: 650px

    p
      font-size: 1.25em
      padding: 0 20px

    ul
      width: 300px
      margin: 16px auto
      display: table

      li
        column 1/2 2 20px
        list-style: none
        text-align: center
      p
        font-size: .9em
        letter-spacing: 0.05em

#refer
  background: radial-gradient(at top left, #444, #333)
  background-color: $color2

  .content
    margin-top: 150px
    max-width: 800px
    margin-top: 50px
    margin-bottom: 50px
    text-align: center

    .claim-link-button
      border: 4px solid $genericInputBorderColor
      border-radius: 28px
      margin: 20px 0
      font-size: 1em !important
      font-weight: bold
      font-family: 'Lato', sans-serif
      letter-spacing: .1em
      transition: color 420ms ease-in-out

      +below(600px)
        padding: 12px 24px 12px 24px
        height: 40px
        line-height: .7em

#share
  background-color: $formBGColor
  color: rgba(0,0,0,.9)

  .content
    margin-top: 50px
    margin-bottom: 20px
    padding: 20px 0

    p
      font-size: 1.3em
      padding: 0 20px

      img
        padding-left: 6px
        padding-right: 0px
        height: 17px
        top: 2px
        position: relative

      a
        color: $color1

    .ambassador
      font-size: 1em !important

    i.fa
      font-size: 3em
      color: rgba(0,0,0,.9)

    ul
      width: 300px
      margin: 32px auto
      display: table

      li
        column 1/3 3 0
        list-style: none
        text-align: center

