#page-returns
  .body
    .accordion:not(:last-child)
      padding-bottom: 1em
      margin-bottom: 1em
      border-bottom: 2px solid #333

      a
        color: #333
        text-decoration: underline
