#page-card
  .content
    h2
    p
      text-align: center

    .holiday-card
      display: table
      margin: 0 auto

      .canvas
      img
        width: 320px
        height: 490px
        display: block
        float: right

        +below(600px)
          float: none
          margin: 0 auto

      .canvas
        background-image: url(/img/holiday/2016card-front.png)
        background-size: contain
        image-rendering: optimizeSpeed
        image-rendering: -moz-crisp-edges
        image-rendering: -webkit-optimize-contrast
        image-rendering: optimize-contrast
        image-rendering: pixelated
        -ms-interpolation-mode: nearest-neighbor

      #render-canvas
        display: none

    .holiday-card
    h2
      margin-bottom: 20px
      margin-left: auto
      margin-right: auto

    input
      width: 200px
      display: block
      text-align: center
      margin-left: auto
      margin-right: auto

    .options
      margin-bottom: 40px
      text-align: center

      .download
        width: 200px;
        display: inline-block;
