#page-review
  width: 300px

  h2
    text-align: center

  .attribution
    font-size: .8em;
    color: #aaa;

    img
      width: 20px
      height: 20px
      border-radius: 10px
      margin: 0 4px
      position: relative
      top: 4px

  .longer
    .columns
      display: table

      blockquote
        +above(800px)
          column 1/2 2 20px

    hr
      display: block
      width: 100%
      border: 1px solid #a4a4a4

  .customer-reviews
    h2
      margin-bottom: 40px

    .review
      font-size: .9em
      .verified
        color: $color1
        font-weight: bold

      margin-bottom: 20px

  .submit-review
    .gem
      cursor: pointer

  .ratings
    .gem
      font-size: 1.5em
      padding-right: 5px

      &.selected ~ .gem
        opacity: .3
