#page-review
  width: 300px

  h2
    text-align: center

  .attribution
    font-size: .8em;
    color: #aaa;

    img
      width: 20px
      height: 20px
      border-radius: 10px
      margin: 0 4px
      position: relative
      top: 4px

  .longer
    .columns
      blockquote
        +above(800px)
          column 1/2 2 20px

    hr
      display: block
      width: 100%

  .submitreview
    max-width: 600px

  .ratings
    .gem
      font-size: 2em
      padding-right: 10px
      cursor: pointer

      &.selected ~ *
        opacity: .3
