$hFont = 'Lato'
$bodyFont = 'Helvetica'

// Accent Colors
$color1     = #55CDAA
$color2     = #3CF3B6
$color3     = #11F1B6

// Error Color
$color101   = #F22469

$menuHoverColor     = #FFF
$menuTextColor      = #000
$menuDividerColor   = #000

$pageContentBGColor = #FFF
$listBGColor1       = #F8F8F8

$genericTextColor               = #FFF
$genericBGColor                 = #000
$genericInputTextColor          = #FFF
$genericInputPlaceholderColor   = #FFF
$genericInputBorderColor        = #FFF
$genericHighlightColor          = $color2

$genericInputFontSize   = 16px
$genericInputHeight     = 32px

$formTextColor                  = #000
$formInputTextColor             = #000
$formInputPlaceholderColor      = #888
$formInputBorderColor1          = #c9c9c9
$formInputBorderColor2          = #000
$formSelectOptionHighlightColor = #FFF
$formBGColor                    = #EEE

$buttonTextColor        = #FFF
$buttonBGGradientColor1 = #3CF3B6
$buttonBGGradientColor2 = rgba(0,212,255,0)

$shareFieldBGColor  = #F8F8F8

$contentfulDividerColor = #333

$pressBGColor       = #DDD
$pressDLIconColor   = #000
$pressDLIconBGColor = #DDD

$linkColor1 = #333
$linkColor2 = $color1
$linkColor3 = $genericTextColor
