body
section
footer
  color: $genericTextColor
  background-color: $genericBGColor

body
  & >
    & header
      width: 100vw
      transition: all 420ms ease-in-out
    & main
    & footer
      position: relative
      transition: all 420ms ease-in-out

section.full
  height: 110vh

  +below(400px)
    height: 105vh

a, a:visited
  color: $linkColor3

.logo
  height: 32px
  width: auto
  margin: 0

.button, button
  height: 56px
  border-radius: 28px
  transition: opacity .4s ease-in-out

  &:hover
    animation: ripple-white 1.5s infinite

  &:disabled
  &.loading
    opacity: .5
    cursor: default

    &:hover
      animation: none !important

+below(500px)
  .logo
    height: 18px

  .button, button
    height: 36px
    border-radius: 18px

header
  height: 0
  min-height: 0

  .logo
    left: 62px
    top: 44px
    margin: 0

  label
    color: $genericTextColor

  .call-to-action
  .pre-order-button
    float: right
    margin: 32px 28px 0 0
    border: 4px solid $genericInputBorderColor
    border-radius: 28px
    font-size: 1em
    font-weight: bold
    font-family: 'Lato', sans-serif
    letter-spacing: .1em
    transition: color 420ms ease-in-out

  .menu-button
    float: left
    margin: 36px 24px 0
    font-size: 2em
    cursor: pointer
    // transition: color 420ms ease-in-out

    &:hover
      color: $genericHighlightColor

  .cart-button
    background-image: url(/img/cart-icon.svg);
    float: right;
    margin: 44px 28px 0 0
    color: $genericTextColor
    cursor: pointer
    height: 32px
    width:  32px
    background-size: contain
    background-repeat: no-repeat
    position: relative

    &:hover
      background-image: url(/img/cart-icon-selected.svg) !important

    cart
      height: 0
      width: 0
      background-color: transparent

      &:after
        content: none

      .cart-button-counter
        position: absolute
        right: -5px
        top: 0
        width: 20px
        height: 20px
        background-color: $color101
        line-height: 1.3em
        border-radius: 10px
        transform: scale(0, 0)
        transition: transform 210ms linear

        &.nonzero
          transform: scale(1, 1)

  +below(600px)
    .logo
      left: 62px

    .call-to-action
    .pre-order-button
      padding: 12px 24px 12px 24px

      .extra
        display: none

  +below(500px)
    .logo
      left: 38px
      top: 24px

    .call-to-action
    .pre-order-button
      border: 3px solid $genericInputBorderColor
      font-size: 1.2em
      line-height: 9px
      margin: 14px 0
      height: 40px
      padding: 12px

    .menu-button
      margin: 14px 12px 0
      font-size: 2em
      cursor: pointer

    .cart-button
      margin: 22px 6px
      height: 24px

      cart
        .cart-button-counter
          width: 16px
          height: 16px
          right: 0

  // .pre-order-button
  //   span
  //     left: 0
  //     width: 100%

  //   span:first-child
  //     position: relative
  //     opacity: 1
  //   span:last-child
  //     position: absolute
  //     opacity: 0

  //   &:hover
  //     span:first-child
  //       position: absolute
  //       opacity: 0
  //     span:last-child
  //       position: relative
  //       opacity: 1
menu
  background-color: $genericBGColor
  color: $menuTextColor
  height: 100vh
  overflow: scroll
  font-weight: 400

  +below(500px)
    ul
      padding: 26px 50px 150px

    .close-menu
      position: absolute
      top: 24px
      right: 30px
      cursor: pointer

  a, a:visited
    color: $menuTextColor

  hr
    height: 0
    border: 0
    border-bottom: 2px solid $menuDividerColor

  .logo
    text-align: center
    margin: 0 auto
    position: absolute
    left: 150px
    transform: translateX(-50%)
    bottom: 40px
    width: 60px
    height: 60px

  ul
    min-height: 550px
    height: 100vh
    padding: 48px 50px 150px
    margin: 0
    position: relative
    display: table
    width: 100%

  .close-menu
    position: absolute
    top: 46px
    right: 30px
    cursor: pointer

// Cart stuff
body
  & > cart
    color: $formTextColor
    padding: 48px 20px
    overflow: auto
    height: 100vh
    background-color: $formBGColor

    h1
      font-size: 2em
      text-align: center

    .close-cart
      position: absolute
      top: 46px
      cursor: pointer

    .product-description.product-description
      font-size: 1em !important

      &> *:last-child
        font-size: 0.9em !important

    .product-text-container.product-text-container
      width: 65%

    .product-price-container.product-price-container
      display:table
      margin-right: 0

    +below(500px)
      padding-top: 26px

      .close-cart
        top: 24px

input#open-menu
  &:checked
    & ~ header
      .menu-button
        color: $color2

    & ~ menu
      // background-color: #88f6d2
      background-color: $color3

input#open-cart
  &:checked
    & ~ header
      .cart-button
        background-image: url(/img/cart-icon-selected.svg) !important

footer
  .logo
    transform: translateX(-50%)

section
  .call-to-action
  .pre-order-button
  .share-coupon-button
    background: radial-gradient(at top left, $buttonGradientColor1, $buttonBGGradientColor2)
    background-color: $color2

    h3
      line-height: 2.3em
      font-size: .9em
      letter-spacing: .1em
      color: $buttonTextColor

      +below(500px)
        line-height: 1em

    &:hover
      animation: ripple-green 1.5s infinite

.hero
  // height: calc(121vh + 40px)
  height: calc(105vh + 100px)
  overflow: hidden
  padding: 0

  h1
    margin-bottom: 5px

  p
    font-size: 1.1em
    margin-bottom: 0

  .summary-down
    margin-top: -5px
    bottom: auto
    top: 90vh

    img
      animation: 2s ease 0s bob
      animation-iteration-count: infinite
      animation-delay: 2s
      margin-top: 10px

      &:hover
        animation-iteration-count: 1

    &:after
      content: none

  .pre-order-button
    margin-right: 10px

  .share-coupon-button
    background: transparent
    border: 4px solid $genericInputBorderColor
    margin-top: 0
    position: relative

    h3
      margin-top: -4px

    &:hover
      animation: ripple-white 1.5s infinite

  &.parallax
    .foreground
      background-size: cover
      background-repeat: no-repeat

      .animated
        animation-duration: 1.5s
        width: 100vw
        height: 100vh
        background-size: cover
        background-repeat: no-repeat
        background-position: 50% 50%

  .watch
    position: absolute
    top: 72.5vh
    left: 0
    right: 0
    margin: 0 auto
    padding-right: 40px
    // padding-left: 80px
    padding-left: 40px

    .play
      display: block
      position: absolute
      top: 50%
      left: 48px
      margin-top: -20px
      width: 40px
      height: 40px
      border-radius: 40px
      padding: 0
      background-color: rgba(0,0,0,.2)
      border: 0

      &:before
        content: ''
        display: block
        position: absolute
        top: 11px
        left: 11px
        width: 0
        height: 18px
        border-left: 1px solid $genericInputBorderColor

      &:after
        content: ''
        display: block
        position: absolute
        -webkit-transform: rotate(45deg) skew(-20deg, -20deg)
        transform: rotate(45deg) skew(-20deg, -20deg)
        top: 10px
        left: 2px
        width: 20px
        height: 20px
        border-top: 10px solid $genericInputBorderColor
        border-right: 10px solid $genericInputBorderColor
        border-bottom: 10px solid transparent
        border-left: 10px solid transparent

  .content
    margin-top: 55vh
    transform: translateY(-50%)


  +below(400px)
    height: 110vh

    .content.content
      margin-top: 45vh

    .summary-down.summary-down
      top: 80vh

    .call-to-action
    .pre-order-button
      top: 62.5vh
      margin-right: 0
      margin-bottom: 10px

    .watch
      // padding-left: 60px
      padding-left: 20px
      padding-right: 20px
      top: 62.5vh

      .play
        width: 32px
        height: 32px
        border-radius: 32px
        margin-top: -16px
        left: 42px

        &:before
          content: ''
          display: block
          position: absolute
          top: 7px
          left: 8px
          width: 0
          height: 18px
          border-left: 1px solid $genericInputBorderColor

        &:after
          top: 6px
          left: -2px

.share-coupon
  width: 500px
  max-width: 100%
  margin: 0 auto

  .share-coupon-image
    width: 500px
    height: 400px
    max-width: 100%
    background-size: cover
    background-position: center

    +below(500px)
      height: 200px

  .share-coupon-text
    color: $formTextColor
    padding: 20px
    background-color: $formBGColor
    display: table

    +below(600px)
      height: 200px

    p
      padding-bottom: 1em
      font-size: 1em

  .share-coupon-buttons
    display: table
    width: 100%

    & > *
      column 1/2 2 20px
      display: block
      height: 32px
      line-height: 2em
      margin-bottom: 1em

      +below(500px)
        column 1 1 0
        line-height: 2.5em

      i
        margin: 0 10px

    .share-coupon-button-for
      &.facebook
        background-color: #3b5998
      &.twitter
        background-color: #00aced
      &.googleplus
        background-color: #d34836
      &.pinterest
        background-color: #C92228

  .share-coupon-text.finished
    display: none

.progress
  // margin-top: calc(-20vh - 40px)
  // margin-bottom: 20vh
  z-index: 10

  .bar
    background-color: rgba(51,51,51,.9)
    height: 40px
    transition: top .1s linear
    top: 0

    &:before
      // background: radial-gradient(at top left, rgba(242, 36, 105,.50), rgba(242,36,105,0))
      // background-color: #F170CD
      // background-color: #F170A7
      background: radial-gradient(at top left, $buttonBGGradientColor1, $buttonBGGradientColor2)
      background-color: $color2
      text-align: right
      font-size: 0.8rem
      font-weight: bold
      line-height: 3.2em
      padding-right: 20px
      width: 10%

    &:after
      content: ''
      background-color: $color2
      // background-color: #F170CD
      // background-color: #F170A7
      position: absolute
      margin-left: -14px
      width: 28px
      height: 28px
      top: 6px
      transform: rotate(45deg)
      left: 10%

  +below(800px)
    .bar
      &:before
        width: 20%

      &:after
        left: 20%
        content: none

  +below(400px)
    margin-top: 0
    margin-bottom: 0

    .bar
      top: 0 !important

.emphasis
  // color: rgb(242, 36, 105)

.content
  max-width: 900px

.press-strip
  margin-top: -120px
  height: 120px
  background-color: rgba(51,51,51,.4)
  display: block

  .content
    padding: 0 20px
    margin: 0 auto

    & > div
      column 1/6 6 60px
      height: 60px
      margin: 30px 0
      background-size: contain
      background-repeat: no-repeat
      background-position: center

  +below(600px)
    margin-top: 0
    height:240px
    background: $genericBGColor

    .content
      & > div
        column 1/3 3 60px

section
  h1
  h2
  p
    text-align: center

  p
    // font-size: .9em
    line-height: 2em

.list
  .info
    padding: 20px

    p
      font-size: 1.25em
      line-height: 1.6em

    ul
      margin-top: 50px

      li
        column 1/4 4 20px

        & > *
          display: block

          &:first-child
            width: 60px
            height: 60px
            border-radius: 30px
            border: 3px solid #FFF
            margin: 0 auto 10px auto
            text-align: center

            img
              display: inline-block
              padding: 12px
              width: 100%
              height: 100%

          &:last-child
            text-align: center
            font-size: .75em
            line-height: 2em
            font-family: 'Lato', sans-serif
            font-weight: bold

  +below(800px)
    .info
      ul
        margin-top: 0
        li
          margin-top: 50px
          column 1/2 2 20px
    .image
      display: none

  +below(400px)
    .info
      p
        font-size: 1em

#stoned-instagram
  padding-top: 32px
  background: radial-gradient(#4E4E4E, #333)

  h1
    z-index: 1
    margin: 0 auto
    left: 0
    right: 0
    pointer-events: none
    padding-bottom: 40px

  a
  img
    width: 100%
    height: calc(25vw - 32px)
    display: block
    transition: opacity 420ms ease-in-out, transform 420ms ease-in-out

  a
    column 1/4 4 32px
    position: relative
    margin-bottom: 32px
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.35)

    // &:after
    //   content: ''
    //   opacity: 0
    //   background-image: url(/img/insta-preview.png)
    //   width: 80px
    //   height: 80px
    //   display: block
    //   position: absolute
    //   left: 50%
    //   top: 50%
    //   transform: translate(-50%, -50%)
    //   background-size: contain
    //   background-repeat: no-repeat
    //   transition: opacity 210ms ease-in-out

    &:hover
      &:after
        opacity: 1

      // img:last-child
      //   opacity: 0

      img
        transform: scale(1.1, 1.1)

  img
    position: absolute
    top: 0
    left: 0

  +below(600px)
    a
    img
      height: calc(33.3vw - 32px)
      display: block

    a
      column 1/3 3 32px

  +below(400px)
    padding-top: 16px

    a
    img
      height: calc(50vw - 16px)
      display: block

    a
      column 1/2 2 16px
      margin-bottom: 16px

#getnews
  .content
    margin-top: 60px
    margin-bottom: 60px
    max-width: 700px

    p
      font-size: 1em
      margin-bottom: 20px

    h1
      img
        height: 34px
        position: relative
        padding: 0px 2px 0 8px
        top: 2px

    form
      text-align: center

      input
        column: 3/5 0 0
        border-radius: 0
        border-right: 0

      button
        border-radius: 0
        column: 2/5 0 0
        background-color: #FFF
        color: $color1
        position: relative
        height: 60px

  +below(400px)
    .content
      form
        input
          padding-left: 10px
          padding-right: 10px

      h1
        img
          height: 20px
          position: relative
          padding-left: 4px
          padding-right: 5px
          top: 2px

footer
  background-color: #333
  padding-top: 20px

  i.fa
    font-size: 3em

.lazy-loaded
  transition: opacity .5s ease-in-out

.modal-close:not(.call-to-action)
  right: 40px
  top: 41px !important
  left: auto !important
  text-align: right
  color: $buttonTextColor

#Product Container

product
  max-width: 300px
  display: block

  h2
    text-align: center

  .description
    text-align: center

  .options
    padding-bottom: 16px

    column 1/2 2 20px

  .prices
    padding-bottom: 16px
    div
      font-weight: bold
      text-align: center

      &:nth-child(2)
        color: #f22469
        text-decoration: line-through

  .error
    color: $color101
