body
sectionheader
footer
  color: #FFF
  background-color: #000

a, a:visited
  color: #FFF

.logo
  height: 32px
  width: auto
  margin: 0

.button, button
  height: 56px
  border-radius: 28px

header
  .logo
    left: 48px
    top: 44px
    margin: 0

  .call-to-action
    position: absolute
    right: 32px
    top: 32px
    border: 4px solid #FFF
    border-radius: 28px
    margin: 0
    font-size: 16px
    font-weight: bold
    font-family: 'Lato', sans-serif
    padding-left: 49px
    padding-right: 49px

footer
  .logo
    transform: translateX(-50%)

.hero
  height: 120vh
  overflow: hidden

  .summary-down
    margin-top: -5px
    bottom: auto
    top: 95vh

    img
      animation: 2s ease 0s bob
      animation-iteration-count: infinite
      animation-delay: 2s

      &:hover
        animation-iteration-count: 1

    &:after
      content: none

  &.parallax
    .foreground
      background-size: cover
      background-repeat: no-repeat

      &.animated
        animation-duration: 1.5s

  .watch
    background: radial-gradient(at top left, rgba(0, 212, 255,.50), rgba(0,212,255,0))
    background-color: #3DF2B6
    position: absolute
    top: 75vh
    left: 50vw
    transform: translate(-50%,-50%)
    padding-right: 40px
    padding-left: 80px

    .play
      display: block
      position: absolute
      top: 50%
      left: 48px
      margin-top: -20px
      width: 40px
      height: 40px
      border-radius: 40px
      padding: 0
      background-color: rgba(0,0,0,.2)
      border: 0

      &:before
        content: ''
        display: block
        position: absolute
        top: 11px
        left: 11px
        width: 0
        height: 18px
        border-left: 1px solid #fff

      &:after
        content: ''
        display: block
        position: absolute
        -webkit-transform: rotate(45deg) skew(-20deg, -20deg)
        transform: rotate(45deg) skew(-20deg, -20deg)
        top: 10px
        left: 2px
        width: 20px
        height: 20px
        border-top: 10px solid #fff;
        border-right: 10px solid #fff;
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;
    h3
      line-height: 34px

  .content
    margin-top: 55vh
    transform: translateY(-50%)

.lazy-loaded
  transition opacity .1s ease-in-out

