body
sectionheader
footer
  color: #FFF
  background-color: #000

a, a:visited
  color: #FFF

.logo
  height: 32px
  width: auto
  margin: 0

.button, button
  height: 56px
  border-radius: 28px

  &:hover
    animation: ripple-white 1.5s infinite

header
  .logo
    left: 48px
    top: 44px
    margin: 0

  .call-to-action
    position: absolute
    right: 32px
    top: 32px
    border: 4px solid #FFF
    border-radius: 28px
    margin: 0
    font-size: 16px
    font-weight: bold
    font-family: 'Lato', sans-serif
    padding-left: 49px
    padding-right: 49px

footer
  .logo
    transform: translateX(-50%)

.hero
  height: calc(121vh + 40px)
  overflow: hidden
  padding: 0

  .summary-down
    margin-top: -5px
    bottom: auto
    top: 90vh

    img
      animation: 2s ease 0s bob
      animation-iteration-count: infinite
      animation-delay: 2s
      margin-top: 10px

      &:hover
        animation-iteration-count: 1

    &:after
      content: none

  &.parallax
    .foreground
      background-size: cover
      background-repeat: no-repeat

      .animated
        animation-duration: 1.5s
        width: 100%
        height: 100%
        background-size: cover
        background-repeat: no-repeat
        background-position: 50% 50%

  .watch
    background: radial-gradient(at top left, rgba(0, 212, 255,.50), rgba(0,212,255,0))
    background-color: #3DF2B6
    position: absolute
    top: 75vh
    left: 50vw
    transform: translate(-50%,-50%)
    padding-right: 40px
    padding-left: 80px

    &:hover
      animation: ripple-green 1.5s infinite

    .play
      display: block
      position: absolute
      top: 50%
      left: 48px
      margin-top: -20px
      width: 40px
      height: 40px
      border-radius: 40px
      padding: 0
      background-color: rgba(0,0,0,.2)
      border: 0

      &:before
        content: ''
        display: block
        position: absolute
        top: 11px
        left: 11px
        width: 0
        height: 18px
        border-left: 1px solid #fff

      &:after
        content: ''
        display: block
        position: absolute
        -webkit-transform: rotate(45deg) skew(-20deg, -20deg)
        transform: rotate(45deg) skew(-20deg, -20deg)
        top: 10px
        left: 2px
        width: 20px
        height: 20px
        border-top: 10px solid #fff
        border-right: 10px solid #fff
        border-bottom: 10px solid transparent
        border-left: 10px solid transparent
    h3
      line-height: 34px

  .content
    margin-top: 55vh
    transform: translateY(-50%)

.progress
  margin-top: calc(-20vh - 40px)
  margin-bottom: 20vh
  z-index: 10

  .bar
    background-color: rgba(51,51,51,.8)
    height: 40px
    transition: top .1s linear
    top: 0

    &:before
      // background: radial-gradient(at top left, rgba(242, 36, 105,.50), rgba(242,36,105,0))
      // background-color: #F170CD
      // background-color: #F170A7
      background: radial-gradient(at top left, rgba(0, 212, 255,.50), rgba(0,212,255,0))
      background-color: #3DF2B6
      text-align: right
      font-size: 0.8rem
      font-weight: bold
      line-height: 3.2em
      padding-right: 20px

    &:after
      content: ''
      background-color: #3DF2B6
      // background-color: #F170CD
      // background-color: #F170A7
      position: absolute
      margin-left: -13px
      width: 28px
      height: 28px
      top: 6px
      transform: rotate(45deg)

.content
  max-width: 640px

.press-strip
  margin-top: -20vh
  height: 20vh
  background-color: rgba(51,51,51,.4)
  display: block

  .content
    padding: 0
    margin: 0 auto

    img
      column 1/4 4 60px
      height: 20px
      margin-top: 10vh
      transform: translateY(-50%)

section
  h1
  h2
  p
    text-align: center

  p
    font-size: .9em
    line-height: 1.8em

#nowires
  h1
    color: rgba(0,0,0,.8)

  h2
    top: 13vh
    transform: translateY(-50%)
    position: absolute
    width: 100%
    letter-spacing: .2em
    font-weight: 400
    color: rgba(51,51,51,.8)

  .content
    margin-top: 33vh
    transform: translateY(-50%)
    color: rgba(51,51,51,.8)

.lazy-loaded
  transition opacity .1s ease-in-out

@keyframes ripple-white
  0%
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.4)
  80%
    box-shadow: 0 0 0 20px rgba(255,255,255, 0.0)
  100%
    box-shadow: 0 0 0 0 rgba(255,255,255, 0)

@keyframes ripple-green
  0%
    box-shadow: 0 0 0 0 rgba(61,242,182, 0.4)
  80%
    box-shadow: 0 0 0 20px rgba(61,242,182, 0.0)
  100%
    box-shadow: 0 0 0 0 rgba(61,242,182, 0)

@keyframes neon0
  from
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177
  to
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177
