img(src="img/products/earphone.jpg", alt="{ data.get('productName') }", if="{ data.get('productSlug').indexOf('earphone') >= 0 }")
img(src="img/products/shirt-male.jpg", alt="{ data.get('productName') }", if="{ data.get('productSlug').indexOf('shirt-men') >= 0 }")
img(src="img/products/shirt-female.jpg", alt="{ data.get('productName') }", if="{ data.get('productSlug').indexOf('shirt-women') >= 0 }")

