doctype html
html(lang='en')
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(name='description', content='')

  head
    title Templates!
    link(rel='stylesheet', href='css/appfold.css', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900', type='text/css')

    block style

    <!--[if lt IE 9]>
    script(src='js/polyfill/html5-shiv.js')
    <![endif]-->

  body(style='overflow:hidden')
    // Header
    header
      nav
        // ul
        //   li
        //     a(href='#') Product
        //   li
        //     a(href='#') Our Story
        //   li
        //     a(href='#') User Stories
        //   li
        //     a(href='#') Specs
        // |
        a(href='/')
          img.logo(src='./img/logo.png', alt='Company Logo')
        a.button.call-to-action(href='#cta') PRE-ORDER NOW

    block foldcontent

    link(rel='stylesheet', href='css/app.css', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')

    block content

    footer
      nav
        ul
          li
            a(href='#') ABOUT
          li
            a(href='#') PRESS
          li
            a(href='#') FAQ
          li
            a(href='#') PRIVACY
      nav
        ul
          li
            a(href='https://www.facebook.com/Stoned-Audio-1098749990193907/', target='_blank')
              i.fa.fa-facebook-square
          li
            a(href='http://instagram.com/stonedaudio/', target='_blank')
              i.fa.fa-instagram
          li
            a(href='https://twitter.com/stoned_audio', target='_blank')
              i.fa.fa-twitter
      a(href='#')
        img.logo(src='./img/logo.png', alt='Company Logo')
      small.copyright &copy; Stoned Audio, LLC 2016
    // .loader

    <!--[if IE]>
    .browserupgrade
    p
      | You are using an strong outdated  browser. Please
      | a(href='http://browsehappy.com/') upgrade your browser to improve
      | your experience and security.
    <![endif]-->

    <!--[if lt IE 9]>
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-1.12.4.min.js"><\\/script>')
    script(src='js/polyfill/ie-love.js')
    <![endif]-->

    <!--[if gt IE 8]><!-->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-3.1.0.min.js"><\\/script>')
    <!--<![endif]-->

    script(src='js/app.js')

    block script
