extends _layout.pug

block title
  | #{site.title} - About

block content
  #page-about
    section.hero.short
      .content
        h1 About Stoned

    include _progress.pug

    section.body
      .content
        p Foo
