extends _layout.pug

block content
  #page-about
    section.hero.short
      .content
        h1 About Stoned

    section.progress(data-percent="42%", data-skip="true")
      .bar

    section.about
      .content
        p Foo
