extends _layout.pug

block title
  | #{site.title} - Account

block account-menu-side
  li
    label(for='profile-tab') INFORMATION
  li
    label(for='orders-tab') ORDERS
  li
    label(for='referrals-tab') REFERRALS
  li
    hr
  li.logout-button
    | LOGOUT

block content
  profile#page-account.page
    section.hero.shorter
      .content
        h1
          | Account

    include _progress.pug

    section.body
      .content
        input.tab-radio(type='radio',name='account-tabs',id='referrals-tab', checked)
        input.tab-radio(type='radio',name='account-tabs',id='profile-tab')
        input.tab-radio(type='radio',name='account-tabs',id='orders-tab')

        ul.menu
          li.referrals-tab
            label(for='referrals-tab')
              | REFERRALS
          li.profile-tab
            label(for='profile-tab')
              | PROFILE
          li.orders-tab
            label(for='orders-tab')
              | ORDERS
          li
          li
            label.logout-button
              | LOGOUT
        .page
          // h2 Hello, { data.get('user.firstName') }.
          //
          .referrals
            h1 Referrals

            p
              | It is easy to help your friends and family get Stoned. Just
              | send them your unique link.

            .share-field
              span.ref-text.ref-link Loading...
              span.copied Copied!

            p
              | Share your link on social media.

            ul.share-links
              li
                a.share-facebook(target='_blank')
                  i.fa.fa-facebook-square
              li
                a.share-twitter(target='_blank')
                  i.fa.fa-twitter
              li
                a.share-email
                  i.fa.fa-envelope
            p
              | Earn #[strong 420] points for every Stoned Earphone your friends
              | purchase.

            p
              | Earn #[strong 10] points for every friend who creates an account.

            p.points-counter
              | Your have earned&nbsp;
              strong.points 0
              strong /4200&nbsp;
              | points.

            ul.points-tracker
              li
                h2 840 Points
                p Hoodie raffle
              li
                h2 1680 Points
                p 20% Coupon
              li
                h2 2520 Points
                p Free 3-month Spotify Premium membership
              li
                h2 3360 Points
                p Swag bag with special hat and shirt
              li
                h2 4200 Points
                p Free pair of
                  strong &nbsp;Stoned Earphones

          .profile
            div
              h2 Contact Information
              p Update your email and name.
              user-email(placeholder='Email')
              user-name(placeholder='Name')
              small *We do not share this information with anyone.
            div
              h2 Change Password
              p Update your password. Minimum 6 characters.
              user-current-password(placeholder='Current Password')
              user-password(placeholder='Password')
              user-password-confirm(placeholder='Confirm Password')
            div.button-container
              button(type='submit')
                span Update
              .error(if='{ errorMessage }')
                | { errorMessage }

          .orders
            h1 Your Orders
            div(if='{ !hasOrders() }')
              p You don't have any orders yet.
            orders(if='{ hasOrders() }')
              .order-information
                .order-number-container
                  h2.label.order-number-label Order#:
                  h2.value.order-number { data.get('number') }
                .order-date-container
                  .label.order-date-label Purchase Date:
                  .value.order-date { renderDate(data.get('createdAt'), 'LL') }
                .order-shipping-date-container
                  .label.order-date-label Shipping Date:
                  .value.order-date(if="{ data.get('metadata.batch') == 'preorder' }" )  #{ shipping.prelaunch2016december.date }
                .order-status-date-container
                  .label.order-date-label Status:
                  .value.order-date { data.get('status') ? data.get('status') : 'reserved' }
                lineitems(if='{ !isEmpty() }')
                  .product-text-container
                    .label.product-name { data.get('productName') }
                    .label.product-description(if="{ data.get('description') }") { data.get('description') }
                  .label.product-quantity-container
                    span.x &#10005;
                    | { data.get('quantity') }
                  .product-price-container
                    .currency.product-price
                      | { renderCurrency(parentData.get('currency'), data.get().price * data.get().quantity) }
                      .label.product-currency { parentData.get('currency').toUpperCase() }
                .currency-container.discount-container(if="{ data.get('discount') > 0 }")
                  .label.discount-label Discount:
                  .currency.discount { renderCurrency(data.get('currency'), data.get('discount'))}
                .currency-container.subtotal-container
                  .label.subtotal-label Subtotal:
                  .currency.subtotal { renderCurrency(data.get('currency'), data.get('subtotal'))}
                .currency-container.shipping-container
                  .label.shipping-label Shipping:
                  .currency.shipping { renderCurrency(data.get('currency'), data.get('shipping'))}
                .currency-container.tax-container
                  .label.tax-label Tax({ data.get('tax') / data.get('subtotal') * 100 }%):
                  .currency.tax { renderCurrency(data.get('currency'), data.get('tax'))}
                .currency-container.total-container
                  .label.total-label Total:
                  .currency.total
                    | { renderCurrency(data.get('currency'), data.get('total'))}&nbsp;{ data.get('currency').toUpperCase() }
              .address-information
                h2.label.address-label Shipping Address:
                .map(data-address="{ JSON.stringify(data.get('shippingAddress')) }")
                shippingaddress.ui.form
                  .field
                    shippingaddress-line1.ui.input(placeholder='Address')
                  .field
                    shippingaddress-line2.ui.input(placeholder='Suite')
                  .field
                    shippingaddress-city.ui.input(placeholder='City')
                  .field
                    shippingaddress-postalcode.ui.input(placeholder='Postal Code')
                  .field
                    shippingaddress-state.ui.input(placeholder='State')
                  .field
                    shippingaddress-country.ui.input(placeholder='Country', <='', shippingaddress-country='')
                  button#shipping-address-update-button.ui.field.fluid.large.submit.button(type='submit') Save Address
                  .ui.negative.message(if='{ errorMessage }')
                    ul.list
                      li { errorMessage }

block script
  script(src='//maps.google.com/maps/api/js?key=AIzaSyCZor292Xz2wcKdUqJnfbmXgWZ5JNgX4kM')

block signup
