extends _layout.pug

block title
  | #{site.title} - Privacy Policy

block content
  #page-privacy.page
    section.hero.short
      .content
        h1 Ambassador Program

    include _progress.pug

    section.body
      .content
        p(style="font-size: 1.3em").
          If you're ready to really get on board and push Stoned to the stars,
          we're ready to get you started and get you paid to help us out.

        h2 Getting started
        p.
          To get you started, we will set you up with a personal coupon. It's
          good for 15% off a set of Stoned Earbuds. You can then go ahead and
          spread the word any way it's legal and ethical to do so.

        h2 What to do
        p.
          People show up at the #{site.title} website and buy stuff with your
          coupon code.

        h2 What you get
        p.
          Any purchases made with your coupon entitle you to 15% of the total
          purchase price. That's whatever the price is, minus discounts (like
          your coupon), and not including any fees (like shipping). We pay out
          on a <i>net-30</i> basis.

        h2 What else?
        p.
          You can look up all the nitty-gritty on the <a
          href="/ambassador-terms">ambassador terms</a> page.
