extends _layout.pug

block title
  | #{site.title} - Ambassador Program

block headscript
  script(src='//www.google.com/recaptcha/api.js?render=explicit')

block content
  #page-ambassadors.page
    section.hero.short
      .content
        h1 Ambassador Program

    include _progress.pug

    section.body
      .content
        p(style="font-size: 1.3em").
          Love Stoned? Want to get paid to tell everyone about us?  We're here
          to help you get started.

        h2 Getting started
        p.
          Create an account and we'll set you up with a personal coupon. It's
          good for 15% off a set of Stoned Earbuds. You can then spread the
          word any way it's legal and ethical to do so.

        h2 What to do
        p.
          People show up at the #{site.title} website and buy stuff with your
          coupon code.

        h2 What you get
        p.
          Any purchases made with your coupon entitle you to 15% of the total
          purchase price. That's whatever the price is, minus discounts (like
          your coupon), and not including any fees (like shipping). We pay out
          on a <i>net-30</i> basis.

        h2 What else?
        p.
          You can look up all the nitty-gritty on the <a
          href="/ambassador-terms">ambassador terms</a> page.

        h1
          label Sign Up
        register(immediate-login='true', source='ambassadors')
          user-name(placeholder='Name')
          user-email(placeholder='Email')
          user-password(placeholder='Password')
          #register-recaptcha
          .error(if='{ errorMessage }')
            | { errorMessage }

          button(type='submit')
            | Register
