extends _layout.pug

block title
  | #{site.title} - Privacy Policy

block content
  #page-privacy.page
    section.hero.short
      .content
        h1 Ambassador Program Terms of Service

    include _progress.pug

    section.body
      .content
        span.date Last Update: December 2016
        h2 1. Introduction
        p.
          These terms of service (the “Agreement”) constitute a legally binding
          agreement between you (“you,” or “your,”) and Stoned Audio, LLC
          (“Stoned,” “we,” “us” or “our”), governing your participation in the
          Stoned Audio Ambassador Program (the “Ambassador Program”).

        p.
          IF YOU DO NOT AGREE TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT,
          YOU MAY NOT PROVIDE THE SERVICES (DEFINED BELOW) OR OTHERWISE PARTICIPATE IN
          THE AMBASSADOR PROGRAM. THIS AGREEMENT SUPERSEDES AND REPLACES ANY AND ALL
          PRIOR VERSIONS OF THE AMBASSADOR PROGRAM AGREEMENT.

        h2 2. Modifications
        p.
          Stoned reserves the right to modify the terms and conditions of this
          Agreement or its policies relating to the Ambassador Program at any
          time, effective upon posting of an updated version of this Agreement
          on this site or the Ambassador portal. You are responsible for
          regularly reviewing this Agreement. If you do not agree to any of the
          changes you may not provide the Services or otherwise participate in
          the Ambassador Program. Continued participating in the Ambassador
          Program after any such changes shall constitute your consent to such
          changes.

        h2 3. Services
        p.
          By participating in the Ambassador Program you agree to promote Stoned and the
          Stoned catalog by the following types of activities (the “Services”): (i)
          generally promote usage of Stoned Products, including by the distribution of
          your “Ambassador Code” (defined below) to new Stoned customers; (ii) identify
          and foster partnership opportunities to attract new Stoned customers; (iii)
          execute against promotional campaigns communicated by Stoned to spread the
          usage of the Stoned catalog in your community.
        p.
          An “Ambassador Code” is a unique alphanumeric code for you to distribute to
          friends, family and other third parties (each a “Referred”). Ambassador Codes
          may only be distributed for promotional purposes and must be given away free of
          charge. You may not sell, trade, or barter your Ambassador Code under any
          circumstances.
        p.
          Purchases made by Referred persons on the Stoned website are eligible
          to use your Ambassador Code. To redeem your Ambassador Code, the
          Referred must enter your Ambassador Code as a coupon during their
          purchase. Each Ambassador Code will work as a coupon and give 15% off
          the total purchase price.

        h2 Payment
        p.
          In exchange for your provision of the Services, Stoned shall pay you
          a fee (the “Payment(s)”) for each time that your unique Ambassador
          Code is “Fully Redeemed”. Your Ambassador Code shall be considered
          “Fully Redeemed” when the Referred completes a purchase on the Stoned
          website using your Ambassador Code.  A Payment shall not be
          considered earned until your Ambassador Code has been Fully Redeemed.
        p.
          At the time your Ambassador Code is Fully Redeemed, you shall earn
          the then-current Payment amount.  The current Payment amount is 15%
          of the purchase amount, less any relevant discounts (including your
          own Ambassador Code), and not including any relevant fees (such as
          shipping).

        h2 Trademark License
        p.
          Stoned grants to you, during the term of this Agreement and subject
          to your compliance with the terms and conditions herein, a limited,
          revocable, non-exclusive license to display and use the Stoned name,
          relevant slogans, and the Stoned Diamond logo (collectively, the
          “Stoned Marks”) solely in connection with your provision of the
          Services (the “License”). The License is non-transferable and
          non-assignable, and you shall not grant to any third party any right,
          permission, license or sublicense with respect to any of the rights
          granted hereunder without Stoned’s prior written permission, which it
          may withhold in its sole discretion.
        p.
          You acknowledge that Stoned is the owner and licensor of the Stoned Marks, and
          that your use of the Stoned Marks will confer no additional interest in or
          ownership of the Stoned Marks in you but rather inures to the benefit of
          Stoned. You further acknowledge that any and all goods and services displaying
          the Stoned Marks (“Promotional Materials”) must be of sufficiently high quality
          to retain the value of and protect the Stoned Marks and the goodwill they
          represent. You understand and agree that Stoned shall have all rights of
          approval that are necessary to achieve this result, including without
          limitation the right to review and approve or reject Promotional Materials on
          or in connection with which the Stoned Marks are used.
        p
          | You will:
          ul
            li.
              Use the Stoned Marks strictly in accordance with Stoned’s Usage Guidelines, as may be communicated to you and revised from time to time.
            li.
              Use the Stoned Marks only in connection with Promotional Materials of the highest quality.
            li.
              Upon request, promptly provide to Stoned representative samples of Promotional Materials on or in connection with which you use the Stoned Marks.
        p
          | You will not:
          ul
            li.
              Use the Stoned Marks in any way that tends to impair their validity as proprietary trademarks, service marks, trade names or trade dress, or use the Stoned Marks other than in accordance with the terms, conditions and restrictions herein.
            li.
              Take any other action that would jeopardize or impair Stoned’s rights as owner of the Stoned Marks or the legality and/or enforceability of the Stoned Marks, including, without limitation, challenging or opposing Stoned’s ownership in the Stoned Marks.
            li.
              Apply for trademark registration or renewal of trademark registration of any of the Stoned Marks, any derivative of the Stoned Marks, any combination of the Stoned Marks and any other name, or any trademark, service mark, trade name, symbol or word which is similar to the Stoned Marks.
            li.
              Use the Stoned Marks on or in connection with any product, service or activity that is in violation of any law, statute, government regulation or standard.
        p.
          Except for the limited License expressly granted hereunder, no other
          license is granted, no other use is permitted and Stoned (and its
          licensors) shall retain all right, title and interest in and to the
          Ambassador Program and Stoned materials (including all intellectual
          property and proprietary rights embodied therein). You agree not to
          take any action inconsistent with such title and ownership.

        h2 Relationship of Parties
        p.
          You are an independent contractor and are not an agent or employee
          of, and has no authority to bind Stoned by contract or otherwise. You
          will perform the Services under the general direction of Stoned, but
          you will determine, in your sole discretion, the manner and means by
          which you accomplish the Services, subject to the requirement that
          you shall at all times comply with applicable law. Stoned has no
          right or authority to control the manner or means by which you
          accomplish the Services.
        p.
          You will report as self-employment income all Payments received by
          you pursuant to this Agreement. You will indemnify Stoned and hold us
          harmless from and against all claims, damages, losses and expenses,
          including reasonable fees and expenses of attorneys and other
          professionals, relating to any obligation imposed by law on us to pay
          any withholding taxes, social security, unemployment or disability
          insurance, or similar items in connection with compensation received
          by you pursuant to this Agreement. You will not be entitled to
          receive any vacation or illness payments, or to participate in any
          plans, arrangements, or distributions by Stoned pertaining to any
          bonus, stock option, profit sharing, insurance or similar benefits
          for Stoned’s employees.

        h2 Confidentiality
        p.
          You agree not to use any technical, financial, strategic and other
          proprietary and confidential information relating to Stoned’s
          business, operations and properties (“Confidential Information”)
          disclosed to you by Stoned for your own use or for any purpose other
          than as contemplated herein. You shall not disclose or permit
          disclosure of any Confidential Information to third parties. You
          agree to take all reasonable measures to protect the secrecy of and
          avoid disclosure or use of Confidential Information of Stoned in
          order to prevent it from falling into the public domain.

        h2 Representations and Warranties
        p.
          By providing the Services you represent and warrant that you are at
          least 18 years old and that you have the right, authority and
          capacity to enter into this Agreement and to abide by the terms and
          conditions of this Agreement. You hereby represent and warrant that
          you will comply with all applicable laws and regulations (including
          copyright and trademark laws and anti-spam laws) in connection with
          your participation in the Ambassador Program and you will not use the
          Stoned catalog, Ambassador Codes, or anything in connection with this
          Ambassador Program for any illegal or unauthorized purpose. You are
          prohibited from advertising Ambassador Codes and/or purchasing any
          advertisements in connection with this Ambassador Program for the
          purpose of soliciting potential riders, including but not limited to:
          Google, Facebook, Twitter, Bing and Craigslist. Stoned reserves the
          right to deactivate or invalidate any Ambassador Code at any time if
          it feels the Ambassador Code has been distributed or is being used in
          violation of any portion of this Agreement. You shall not
          misrepresent your relationship with Stoned to any third party and
          will not make any warranty or representation on behalf of Stoned. You
          warrant that your participation in the Ambassador Program does not
          and will not violate any agreement between you and any third party.
          Except for the foregoing, neither party makes any warranties, express
          or implied, with respect to the Ambassador Program or any products or
          services, including without limitation implied warranties of fitness,
          merchantability or non-infringement of the Ambassador Code, the
          Stoned platform, or any Stoned services.

        h2 Indemnity
        p.
          You will defend, indemnify, and hold Stoned and its officers,
          directors, employees, agents and any third parties harmless for any
          losses, costs, liabilities and expenses (including reasonable
          attorneys’ fees) relating to or arising out of your provision of the
          Services, including: your breach of this Agreement or your violation
          of any law or the rights of a third party.

        h2 Limitation of Liability
        p.
          IN NO EVENT WILL WE, OUR SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES OR OUR
          SUPPLIERS, BE LIABLE TO YOU FOR ANY INCIDENTAL, CONSEQUENTIAL, OR INDIRECT
          DAMAGES ARISING OUT OF OR IN CONNECTION WITH Stoned, OUR SERVICES OR THIS
          AGREEMENT (HOWEVER ARISING, INCLUDING NEGLIGENCE) EVEN IF WE OR OUR AGENTS OR
          REPRESENTATIVES KNOW OR HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
          NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, TO THE MAXIMUM
          EXTENT ALLOWABLE BY LAW, OUR LIABILITY, AND THE LIABILITY OF OUR SUBSIDIARIES,
          OFFICERS, DIRECTORS, EMPLOYEES, AND SUPPLIERS, TO YOU OR ANY THIRD PARTIES IN
          ANY CIRCUMSTANCE IS LIMITED TO $100. CERTAIN STATE LAWS DO NOT ALLOW
          LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN
          DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS,
          EXCLUSIONS OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL
          RIGHTS.

        h2 Stoned E-Mail and Text Communications
        p.
          E-mail communications and text messages sent from us or through us are designed
          to make your participation in the Ambassador Program more efficient. By
          becoming an Ambassador, You specifically agree to accept and consent to
          receiving e-mail communications and text messages initiated from us or through
          us, which include, without limitation: message notification e-mails, and
          e-mails informing you of promotions we run and of new and existing features we
          provide. Standard text messaging charges applied by your cell phone carrier
          will apply to text messages we send.

        h2 Term and Termination
        p.
          This Agreement is effective upon your provision of the Services. You may
          terminate your provision of Services at any time, for any or no reason. We may
          terminate this Agreement at any time for any or no reason, without explanation,
          effective upon sending written or email notice to you, or by terminating the
          Ambassador Program in part or entirely as posted on this site. We maintain sole
          discretion to prohibit your provision of the Services in the future, for any or
          no reason.

        h2 Arbitration
        p.
          You and we agree that any legal disputes or claims arising out of or related to
          the Agreement (including but not limited to your participation in the
          Ambassador Program and provision of the Services), or the interpretation,
          enforceability, revocability, or validity of the Agreement, or the
          arbitrability of any dispute), that cannot be resolved informally shall be
          submitted to binding arbitration in the state in which the Agreement was
          performed. The arbitration shall be conducted by the American Arbitration
          Association under its Commercial Arbitration Rules, or as otherwise mutually
          agreed by you and Stoned. Any judgment on the award rendered by the arbitrator
          may be entered in any court having jurisdiction thereof. Claims shall be
          brought within the time required by applicable law. You and we agree that any
          claim, action or proceeding arising out of or related to the Agreement must be
          brought in your individual capacity, and not as a plaintiff or class member in
          any purported class, collective, or representative proceeding. The arbitrator
          may not consolidate more than one person’s claims, and may not otherwise
          preside over any form of a representative, collective, or class proceeding. YOU
          ACKNOWLEDGE AND AGREE THAT YOU AND Stoned ARE EACH WAIVING THE RIGHT TO A TRIAL
          BY JURY OR TO PARTICIPATE AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS
          ACTION OR REPRESENTATIVE PROCEEDING.

        h2 General
        p.
          This Agreement shall be governed by the laws of the State of Missouri without
          regard to choice of law principles. If any provision of this Agreement is held
          to be invalid or unenforceable, such provision shall be struck and the
          remaining provisions shall be enforced. You agree that this Agreement and all
          incorporated agreements may be automatically assigned by Stoned, in our sole
          discretion. Headings are for reference purposes only and in no way define,
          limit, construe or describe the scope or extent of such section. Our failure to
          act with respect to a breach by you or others does not waive our right to act
          with respect to subsequent or similar breaches. This Agreement sets forth the
          entire understanding and agreement between you and Stoned with respect to the
          subject matter hereof. Sections titled Modifications, Trademark License,
          Relationship of Parties, Confidentiality, Representations and Warranties,
          Indemnity, Limitation of Liability, Arbitration, and General shall survive any
          termination or expiration of this Agreement.

        br
