extends _layout.pug

block title
  | #{site.title} - App

block content
  #app.page
    section.hero.short
      .content
        h1
          | App

    section.body
      .content
        h1
          | Coming Soon
          br
          span(style="font-size: .5em")
            | Check back for updates!
