extends _layout.pug

block title
  | #{site.title} - Get Ready To Get Stoned!

block content
  #page-card.page
    section.hero.short
      .content
        h1
          | Get Your Holiday Card

    section.body
      .content
        h2
          | I want to print my card.
        .holiday-card
          .canvas
            canvas#card-canvas(width='320', height='490')
          img(src='/img/holiday/2016card-back.png')
          .your-name
          canvas#render-canvas(width='1280', height='981')

        .options
          p
            | Enter your name below or leave it blank to fill it out after
            | printing.

          input#card-name(type='text', placeholder='Your Name')

          a.download.button(href='/img/holiday/2016card.png',download='holiday-card-2016.png')
            | Download

        h2
          | I want to send my card through the mail.
        .mail
          p
            | Fill out
            a(href='https://stonedhq.typeform.com/to/BgxaOd', target='_blank') &nbsp;this form&nbsp;
            | to send your card by mail.

block signup

