extends _layout.pug

block content
  #page-contact.page
    section.hero.short
      .content
        h1
          | Did you want to say hello?

    include _progress.pug

    section.body
      .content
        div
          h2 Media Contact
          p
            | Zack Kelling
            br
            | press@stoned.audio
            br
            | +1 (650) 318-1319

        div
          h2 Other Inquiries
          p
            | hi@stoned.audio
            br
            | +1 (646) 776-2426

block signup
