extends _layout.pug

block title
  | #{site.title} - FAQ and Manual

block content
  #page-faq.page
    section.hero.short
      .content
        h1 FAQ and Manual

    include _progress.pug

    section.body
      .manual.content
        .col
          .row
            .cell
              img(src='img/manual.jpg')

        .col
          h2
            a(href="manual.pdf") Download User Manual

      .content.faq
        h1
          | Frequently Asked Questions

        h2.contentful-loading Loading...
        .contentful(data-contentful-space='75maui21vjrq', data-contentful-model='faq', data-contentful-token='a6912c52811f23bb07e3694e0edc67f45a56177f84364d28c2982965caf4cbc0', data-contentful-order='rank')
          .accordion.animated.fadeInUp
            input(type='checkbox', id='toggle', data-contentful-increment='id', checked)
            label.accordion-toggle(for='toggle', data-contentful-increment='for')
              h2(data-contentful-field='question')
                i
            p.accordion-content(data-contentful-field='answer')

block script
  script(src='https://npmcdn.com/contentful@3.3.5/browser-dist/contentful.js')
