extends _layout.pug

block content
  section.hero.parallax.video(data-src='https://www.youtube.com/embed/WeYsTmIzjkw')
    .foreground.product(style='background-image: url(img/hero-prod.png);', data-ratio='-60')
    .foreground(style='background-image: url(img/hero-overlay.png)', data-ratio='-60')
    .watch.button
      a.play(href='#')
      h3 WATCH VIDEO
    .content
      h1 Gems for your ears.
      p Crystal clear audio without any wires.

    a.button.summary-down.next-section(href='#')
      img(src='img/down-icon.svg')
    .video-modal.modal.hidden
      iframe(width='100%', height='100%', src='', frameborder='0', allowfullscreen)
      .modal-close.modal-close-position
        | &#10005;

  // section
  //   h1= title

  // section
  //   figure 1
  //   figure 2
  //   figure 3
  //   figure 4
  //   figure 5
  //   figure 6
