extends _layout.pug

block content
  section.hero.parallax(data-lazy="img/hero-bg.jpg")
    .foreground(data-lazy="img/hero-overlay.png")
    .foreground(data-lazy="img/hero-fg.png")

  // section
  //   h1= title

  // section
  //   figure 1
  //   figure 2
  //   figure 3
