doctype html
html(lang='en')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  head
    title Templates!
    link(rel='stylesheet', href='css/app.css', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,100,100italic,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')
  body(style='overflow:hidden')
    // Header
    header
      nav
        // ul
        //   li
        //     a(href='#') Product
        //   li
        //     a(href='#') Our Story
        //   li
        //     a(href='#') User Stories
        //   li
        //     a(href='#') Specs
        // |
        a(href='#')
          img.logo(src='./img/logo.png', alt='Company Logo')
        a.button.call-to-action(href='#cta') PRE-ORDER NOW
    footer
      nav
        ul
          li
            a(href='#') About
          li
            a(href='#') Press
          li
            a(href='#') FAQ
          li
            a(href='#') Privacy
      nav
        ul
          li
            a(href='#')
              i.fa.fa-facebook-square(aria-hidden='true')
          li
            a(href='#')
              i.fa.fa-twitter-square(aria-hidden='true')
          li
            a(href='#')
              i.fa.fa-youtube-square(aria-hidden='true')
          li
            a(href='#')
              i.fa.fa-hacker-news(aria-hidden='true')
      |
      a(href='#')
        img.logo(src='./img/logo.png', alt='Company Logo')
      |
      small.copyright &copy; HANZO, LLC 2016
    .loader
      .sk-folding-cube
        .sk-cube1.sk-cube
        .sk-cube2.sk-cube
        .sk-cube4.sk-cube
        .sk-cube3.sk-cube
    script(src='https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.1/es6-shim.min.js')
    script(src='https://code.jquery.com/jquery-1.12.4.min.js', integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=', crossorigin='anonymous')
    script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/layzr.js/2.0.2/layzr.min.js')
    script(src='js/framework.js')
    script(src='js/hero-video.js')
    script(src='js/parallax.js')
    script(src='js/lazyify.js')
    script(src='js/scroll-to.js')
