extends _layout.pug

block title
  | #{site.title} - Login

block content
  #page-login.page
    section.body(data-lazy='img/comfy.jpg')
      .content
        div
          h1
            label Login
          login
            user-email(placeholder='Email')
            user-password(placeholder='Password')
            .error(if='{ errorMessage }')
              | { errorMessage }

            button(type='submit')
              | Login
          a(href='reset-password') Reset password?
          a(href='register') Create your account?

block signup
