extends _layout.pug

block title
  | #{site.title} - Press

block content
  #page-press.page
    section.hero.short
      .content
        h1 Press

    section.body
      .content
        h2 Logos
        ul.download-links.logos
          li
            a.download-icon(href='img/press-assets/Stoned%20Logo.png', target='_blank')
              img(src='img/press-assets/Stoned%20Logo.png')
            a.download-link(href='img/press-assets/Stoned%20Logo.eps', target='_blank')
              i.fa.fa-download
              | EPS
              | &nbsp;
            a.download-link(href='img/press-assets/Stoned%20Logo.png', target='_blank')
              i.fa.fa-download
              | PNG
              | &nbsp;
          li
            a.download-icon(href='img/press-assets/Stoned%20Diamond.png', target='_blank')
              img(src='img/press-assets/Stoned%20Diamond.png')
            a.download-link(href='img/press-assets/Stoned%20Diamond.eps', target='_blank')
              i.fa.fa-download
              | EPS
              | &nbsp;
            a.download-link(href='img/press-assets/Stoned%20Diamond.png', target='_blank')
              i.fa.fa-download
              | PNG
              | &nbsp;

        h2 On social media
        ul.download-links.social
          li
            a.download-icon(href='https://www.facebook.com/StonedHQ', target='_blank')
              i.fa.fa-facebook-square
            span Facebook
            a.download-link(href='https://www.facebook.com/StonedHQ', target='_blank')
              | https://www.facebook.com/StonedHQ
          li
            a.download-icon(href='https://twitter.com/StonedHQ', target='_blank')
              i.fa.fa-twitter
            span Twitter
            a.download-link(href='https://twitter.com/StonedHQ', target='_blank')
              | https://twitter.com/StonedHQ
          li
            a.download-icon(href='http://instagram.com/StonedHQ/', target='_blank')
              i.fa.fa-instagram
            span Instagram
            a.download-link(href='http://instagram.com/StonedHQ/', target='_blank')
              | http://instagram.com/StonedHQ/

        h2 Product Images
        ul.product-images
          li
            a(href='img/press-assets/stoned1.png', style='background-image: url(img/press-assets/stoned1.png)', target='_blank', download)
          li
            a(href='img/press-assets/stoned2.png', style='background-image: url(img/press-assets/stoned2.png)', target='_blank', download)
          li
            a(href='img/press-assets/stoned3.png', style='background-image: url(img/press-assets/stoned3.png)', target='_blank', download)
          li
            a(href='img/press-assets/stoned4.png', style='background-image: url(img/press-assets/stoned4.png)', target='_blank', download)
          li
            a(href='img/press-assets/stoned5.png', style='background-image: url(img/press-assets/stoned5.png)', target='_blank', download)
          li
            a(href='img/press-assets/stoned6.png', style='background-image: url(img/press-assets/stoned6.png)', target='_blank', download)
          li
            a(href='img/press-assets/stoned-case.png', style='background-image: url(img/press-assets/stoned-case.png)', target='_blank', download)

block signup
