extends _layout.pug

block title
  | #{site.title} - Referral Program

block content
  #page-referral.page
    section.hero.short
      .content
        h1 Referral Program

    include _progress.pug

    section.body
      .content
        p(style="font-size: 1.3em").
          Want to show us love and snag some cool gear too? Here's how our
          referral program works.

        h2 Getting started
        p
          ol
            li.
              #[a(href="/signup") Sign up] for an account. If you've already bought earphones, just
              login with the email you used to place your order.
            li.
              Use #[a(href="/account") your unique link] to spread the word through social media,
              email, etc. Please don't post your link to sites or forums that
              don't belong to you (that's spamming!), and don't try to run paid
              ads with your referral link. When you put your referral link out
              there, people who show up at the website can earn you points.

        h2 What your friends do
        p
          | When friends click your referral link, they can:
          ul
            li.
              Get Stoned - for everyone who purchases after clicking your
              link, you'll get a sick 420 points. The sale has to stick; if
              someone refunds, we have to refund the points, too!
            li.
              Get Hooked Up - for everyone who signs up to get updates from
              us, you'll get a very cool 10 points. The email has to be valid
              and get confirmed for the points to stick.

        h2 What you get
        p.
          As you keep getting points, we keep paying out rewards.

        h3 Level 1 (840 points)
        p.
          This early on, we'll enter you into a raffle for an exclusive Stoned
          hoodie. This only runs once, so you'll be the only badass on the
          block to have it!

        h3 Level 2 (1680 points)
        p.
          At this level, you get a personal coupon for 20% off a set of
          earphones. Get Stoned at a bargain price!

        h3 Level 3 (2520 points)
        p.
          Here, we'll get you a 3-month membership to Spotify - on us. Get lost
          in whatever musical trips you want.

        h3 Level 4 (3360 points)
        p.
          You're out there representing, so we'll help you represent! At this
          level, we'll drop you a free swag bag with a hat and t-shirt.
        h3 Level 5 (4200 points)
        p.
          We've gotta hand it to you, you're really sold on getting the world
          Stoned! So let's start with you. You get the big 4200, we'll get you
          a free set of Stoned Earphones.

        h2 What else?
        p.
          You can look up all the nitty-gritty on the site's <a
          href="/terms">terms</a>.

