extends _layout.pug

block content
  #page-reset-password.page
    section.body(data-lazy='img/comfy.jpg')
      .content
        div
          h1
            | Enter your new password.
          reset-password-complete
            user-password(placeholder='Password')
            .error(if='{ errorMessage }')
              | { errorMessage }
            button(type='submit')
              | Reset

block signup
