extends _layout.pug

block content
  #page-reset-password.page
    section.body(data-lazy='img/comfy.jpg')
      .content
        div
          h1
            | Your link is sent
          p
            | You will receive a password reset email within 24 hours.  Follow the link inside.
            | Please check your spam and trash folders if you have not received your email within 24 hours.

block signup
