extends _layout.pug

block content
  #page-reset-password.page
    section.body(data-lazy='img/comfy.jpg')
      .content
        div
          h1
            | Reset Password
          p
            | Enter the email you used during sign-up.  An email with the password reset link will be sent to it.
          reset-password
            user-email(placeholder='Email')
            .error(if='{ errorMessage }')
              | { errorMessage }
            button(type='submit')
              | Reset

block signup
