extends _layout.pug

block title
  | #{site.title} - Reviews

block headscript
  script(src='//www.google.com/recaptcha/api.js')

block content
  #page-review.page
    section.hero.short
      .content
        h1 Stoned Reviews

    section.body
      .content
        h2 What people are saying on social media
        blockquote
          | My surprise Christmas present finally showed up thanks to my
          | amazing fiance Mikaila Hayes and also thanks Stoned Audio for the
          | best pair of headphones I've ever owned&nbsp;
          a(href='https://www.instagram.com/stonedhq/', target='_blank') #stoned
          a.attribution(href='https://www.facebook.com/photo.php?fbid=1332346686811325&set=o.1098749990193907&type=3&theater', target='_blank')
            | By
            img(src='https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-1/c0.0.100.100/p100x100/16265922_1320997231279604_454453279165484220_n.jpg?oh=c4608033ecda0cafbb658e1bfe279c53&oe=59480E7D')
            | Christian, Febuary 8th 2017
        hr

        blockquote
          | Received my Stoned earbuds yesterday and so far I am impressed. Wore one only for a bike ride this morning and it worked flawlessly, as well as staying secure in my ear. Great job, Stoned!
          a.attribution(href='https://www.facebook.com/StonedHQ/posts/1227564730645765', target='_blank')
            | By
            img(src='https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-1/p100x100/16266220_1606290402720877_3856405450659520958_n.jpg?oh=89a38a65df45f77ca9f90d28496262bb&oe=592A1A1F')
            | Chad, Febuary 8th 2017

        hr
        blockquote
          | All I can say is wow. Surprisingly GREAT sound. Paired extremely easy and looking forward to running with them. That will be the true test. But for now, I'm impressed.
          a.attribution(href='https://www.facebook.com/photo.php?fbid=10102043040138286&set=o.1098749990193907&type=3&theater', target='_blank')
            | By
            img(src='https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-1/p100x100/16114214_10102007448234746_2129489543560125752_n.jpg?oh=8472791f0c0d6fcd36f66c8f36eb90ac&oe=593241CB')
            | Javy, Febuary 7th 2017

      .content.longer
        h2 Looking for more in-depth reviews?

        .columns
          blockquote
            strong Zero detectable lag on video.
            br
            | That surprised me. I've used some Bluetooth 'phones before, and even the slightest lag can be super-annoying.
            br
            br
            | The fit (I used the largest of three provided plugs) is great. I could headbang like a muhfug with these things and they wouldn't budge. I've been wearing them for about an hour and they're barely noticeable.
            a.attribution(href='https://www.facebook.com/Aaronkirscht/posts/10154413504956733', target='_blank')
              | By
              img(src='https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-1/p100x100/13265877_10153706749356733_3168800689831289287_n.jpg?oh=81c96e357fff6f36865682586ff47059&oe=592B5093')
              | Aaron, Febuary 7th 2017

          blockquote
            |The Earphones are easy to pair. To pair them to each other and your phone, you press the button and hold it — the round silver piece on them — it will say “power on” and then say “pairing.” You can then press the button on the other, and they’ll beep a few times and sync to each other. Then you go to your phone’s Bluetooth section and select the Earphones.
            br
            strong It is very simple.
            a.attribution(href='https://medium.com/@chrismartinez/review-stoned-earphones-5829e24bd398#.lh2xfj8be', target='_blank')
              | By
              img(src='https://cdn-images-1.medium.com/fit/c/60/60/1*Pj05tS1hFlojd4VQdYTAug.jpeg')
              | Chris, Febuary 7th 2017
        hr

      .content.customer-reviews
        h2(itemscope, itemtype='http://schema.org/Thing') Top Customer Reviews for
          span(itemprop='name') Stoned Earphones
          span(itemprop='description', style='display:none')
            | #{ meta.description }
          .ratings(itemprop='aggregateRating',itemscope,itemtype='http://schema.org/AggregateRating')
            span.gem &#128142;
            span.gem &#128142;
            span.gem &#128142;
            span.gem.selected &#128142;
            span.gem &#128142;
          span
            | (
            span(itemprop='ratingValue') 4
            | /
            span(itemprop='bestRating') 5
            | )
            span(itemprop='ratingCount', style='display:none') 3

        .review(itemscope,itemtype='http://schema.org/Review')
          span(itemprop='name', style='display:none') Stoned Earphones
          span
            .ratings
              span.gem &#128142;
              span.gem &#128142;
              span.gem &#128142;
              span.gem &#128142;
              span.gem.selected &#128142;
              span(itemprop='reviewRating',itemscope,itemtype='http://schema.org/Rating')
                span(itemprop='ratingValue') 5
                | /
                span(itemprop='bestRating') 5
                | &nbsp;
              strong I can say these were definitely worth the wait.
            span(itemprop='author',itemscope,itemtype='http://schema.org/Person')
              | By <strong itemprop='name'>Michael lopez</strong> on Febuary 7th 2017
          p
            | I can say these were definitely worth the wait. I was one of the people extremely eager to finally get these in my ears. Now i don't professionally rate earbuds for a living but i have definitely had more than a few in my life time. For awhile now my routine when getting new earbuds/headphones is to immediately play 'Follow Me' by Muse. It goes through a wide spectrum of sound and i think it gives me a great idea of what the headphones have to offer. I played the song and i felt like i was there, absolutely amazing. I felt like Matt Bellamy was singing in my face. Thank you so much for the work you guys did. I know you guys took alot of beating over the last month over social media and probably over the phone lol. But you did what you needed to and you put out an amazing product. Thank you again. Now  if you don't mind I'm gonna go to the gym and get STONED!
        .review
          span(itemprop='name', style='display:none') Stoned Earphones
          span
            .ratings
              span.gem &#128142;
              span.gem &#128142;
              span.gem.selected &#128142;
              span.gem &#128142;
              span.gem &#128142;
              span(itemprop='reviewRating',itemscope,itemtype='http://schema.org/Rating')
                span(itemprop='ratingValue') 3
                | /
                span(itemprop='bestRating') 5
                | &nbsp;
              strong The sound on these are great... or at least on the one that works.
            span(itemprop='author',itemscope,itemtype='http://schema.org/Person')
              | By <strong itemprop='name'>Chad Hilts</strong> on Febuary 9th 2017
            .verified
              | Verified Purchase
          p
            | The sound on these are great... or at least on the one that works.  The button on the left earpiece is hard to press and i can't tell if the two are synced.  Plus it took me forever to figure out how to get them to pair with my Android.  I have no sound coming out of the left at all.  I pushed both for 10 seconds like the directions stated until they both flashed blue once.  Then i pressed the left to pair, the right to power on and it's hit or miss on when or if they'll connect.  Also, the sound seems to be cutting in and out now.  I let them charge for an hour upon receiving them. I'll let them charge over night amd see if that fixes it
        .review
          span(itemprop='name', style='display:none') Stoned Earphones
          span
            .ratings
              span.gem &#128142;
              span.gem &#128142;
              span.gem &#128142;
              span.gem.selected &#128142;
              span.gem &#128142;
              span(itemprop='reviewRating',itemscope,itemtype='http://schema.org/Rating')
                span(itemprop='ratingValue') 4
                | /
                span(itemprop='bestRating') 5
                | &nbsp;
              strong These headphones are above par.
            | By <strong itemprop='name'>Michael Acosta</strong> on Febuary 7th 2017
            .verified
              | Verified Purchase
          p
            | These headphones are above par. It took a while to pair them and link them but after that the sound was amazing. Charging case is small and durable, plus I love the soft color. Great product, takes some time to master but it's a great pay out.

      .content.submit-review
        h2 Leave us a review
        input#name(type='text',placeholder='Name')
        br
        br
        input#email(type='text',placeholder='Email')
        br
        br
        input#device(type='text',placeholder='Device (Iphone 7, Google Pixel, etc...)')
        br
        br
        label
            strong Rating:
        .ratings
          span.gem &#128142;
          span.gem &#128142;
          span.gem &#128142;
          span.gem &#128142;
          span.gem.selected &#128142;
        textarea#comment(placeholder='Write Comments...')
        br
        br
        .g-recaptcha(data-sitekey='6LfX1hMUAAAAAAlNTjExftw7-GeykK2-tWjbtSUY')
        button#submit(type='submit') Submit
