extends _layout.pug

block title
  | #{site.title} - Referral Program

block content
  #page-store.page
    section.hero.short
      .content
        h1 Shop Stoned
    section.body
      a.button.submit.buy-earphones(href='#')
        | + Stoned Earphones
      a.button.submit.buy-shirt(href='#')
        | + Black Stoned Shirt

block signup
